@inject IStringLocalizer<CommonResources> cl
@inject MapLogicService MapLogic
@inject MapStateService MapState

@if (Victim != null)
{
    <RadzenColumn Size="Small ? (MapState.IsMobileView ? 4 : 3) : (MapState.IsMobileView ? 6 : 4)">
        @if (!Victim.LongInfo)
        {
            <a href="@(CultureInfo.CurrentCulture.ToString() == "cs-CZ" ? Victim.DetailsCs : Victim.DetailsEn)" target="_blank" style="text-decoration:none;color:black">
                <RadzenCard class="@(VictimCardCss)">
                    <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Start" Gap="5px">
                        <RadzenImage class="@VictimPhotoCss" Path="@(!string.IsNullOrEmpty(Victim.Photo) && Victim.Photo != "NULL" && Victim.Photo != "null" ? Victim.Photo : "images/face.png")" />
                        <div class="victim-label"><small>@((MarkupString)Victim.GetLabelForPicture())</small></div>
                    </RadzenStack>
                </RadzenCard>
            </a>
        }
        else
        {
            var storyMapTitle = Victim.NarrativeMapId != null ? cl.GetString("storyMapExistsForPerson") : "";

            <RadzenCard class="@(VictimCardCss)" @onclick="OnVictimClick" Style="cursor:pointer">
                <div style="position:relative;width:100%">
                    <RadzenImage title="@storyMapTitle" class="@VictimPhotoCss" Path="@(!string.IsNullOrEmpty(Victim.Photo) && Victim.Photo != "NULL" && Victim.Photo != "null" ? Victim.Photo : VictimFace)" />
                    @if (Victim.NarrativeMapId != null)
                    {
                        <img title="@storyMapTitle" width="25" class="document-forward-icon" src="/images/storymap-icon.png" />
                    }
                </div>
                <div class="victim-label">
                    <div>
                        <small>
                            @if (Relative)
                            {
                                <b>@Victim.Name</b>
                            }
                            else
                            {
                                @((MarkupString)Victim.GetLabelForPicture())
                            }
                        </small>
                    </div>
                    @if (!string.IsNullOrEmpty(Victim.RelationshipToPersonCs))
                    {
                        <div><small>@(CultureInfo.CurrentCulture.ToString() == "cs-CZ" ? Victim.RelationshipToPersonCs : Victim.RelationshipToPersonEn)</small></div>
                    }
                </div>
            </RadzenCard>

        }

    </RadzenColumn>
}

@code {
    [Parameter]
    public VictimShortInfoModel? Victim { get; set; }

    [Parameter]
    public bool Small { get; set; } = false;

    [Parameter]
    public bool Relative { get; set; } = false;

    private string? VictimCardCss;
    private string? VictimPhotoCss;
    private string? VictimFace;


    protected override void OnInitialized()
    {
        VictimCardCss = (Small ? "victim-card-small" : "victim-card") + " rz-mb-4";
        VictimPhotoCss = (Small ? "victim-photo-small" : "victim-photo") + " rz-mb-4";
        VictimFace = Small ? "images/face-small.png" : "images/face.png";

    }

    public async Task OnVictimClick()
    {
        if (Victim == null || (!Victim?.LongInfo ?? false))
            return;

        MapState.VictimLongInfo = await MapLogic.GetVictimLongInfo(Victim!.Id);
        await MapState.SetDialog(DialogTypeEnum.Victim, new DialogParameters { Id = Victim!.Id, Places = MapState.DialogParameters.Places });
        MapState.NotifyStateChanged();
    }
}
