@using EhriMemoMap.Helpers;
@inject IJSRuntime JS
@inject IHttpClientFactory clientFactory
@inject DialogService DialogService
@inject MapStateService MapState
@inject IStringLocalizer<CommonResources> cl

@if (!MobileVersion)
{
    <div class="icon @(MapState.DialogType == DialogTypeEnum.Help ? "icon-selected" : "")" title="@(cl["help"] + "...")" onclick="@(() => ShowHelp())">
        <svg width="47" height="49" viewBox="0 0 47 49" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="Group 58">
                <path id="Rectangle 23" d="M0 3.99999C0 1.79086 1.79086 0 4 0H47.1795V48.7521H4C1.79086 48.7521 0 46.9613 0 44.7521V3.99999Z" fill="#46463D" class="background" />
                <g id="help">
                    <mask id="mask0_1806_1113" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="6" y="7" width="35" height="34">
                        <rect id="Bounding box" x="6.29059" y="7" width="33.812" height="33.812" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_1806_1113)">
                        <g id="help_2">
                            <path d="M23.1262 32.359C23.6193 32.359 24.0361 32.1887 24.3766 31.8483C24.717 31.5078 24.8873 31.091 24.8873 30.5979C24.8873 30.1049 24.717 29.6881 24.3766 29.3476C24.0361 29.0071 23.6193 28.8369 23.1262 28.8369C22.6331 28.8369 22.2163 29.0071 21.8759 29.3476C21.5354 29.6881 21.3652 30.1049 21.3652 30.5979C21.3652 31.091 21.5354 31.5078 21.8759 31.8483C22.2163 32.1887 22.6331 32.359 23.1262 32.359ZM21.8583 26.935H24.4646C24.4646 26.1601 24.5527 25.5496 24.7288 25.1035C24.9049 24.6574 25.4038 24.0469 26.2256 23.272C26.8361 22.6615 27.3175 22.0804 27.6697 21.5286C28.0219 20.9768 28.198 20.3135 28.198 19.5386C28.198 18.2237 27.7167 17.214 26.754 16.5096C25.7913 15.8052 24.6524 15.453 23.3375 15.453C21.9991 15.453 20.9132 15.8052 20.0796 16.5096C19.2461 17.214 18.6649 18.0593 18.3362 19.0455L20.6608 19.9613C20.7782 19.5386 21.0423 19.0807 21.4532 18.5877C21.8641 18.0946 22.4922 17.848 23.3375 17.848C24.0889 17.848 24.6524 18.0535 25.0281 18.4644C25.4038 18.8753 25.5917 19.3273 25.5917 19.8204C25.5917 20.29 25.4508 20.7302 25.169 21.1412C24.8873 21.5521 24.535 21.9336 24.1124 22.2858C23.0793 23.2016 22.4453 23.8943 22.2105 24.3639C21.9757 24.8335 21.8583 25.6905 21.8583 26.935ZM23.1967 37.9943C21.2478 37.9943 19.4163 37.6245 17.7022 36.8849C15.9881 36.1452 14.4971 35.1414 13.2292 33.8735C11.9612 32.6055 10.9574 31.1145 10.2178 29.4004C9.47816 27.6864 9.10834 25.8549 9.10834 23.906C9.10834 21.9571 9.47816 20.1256 10.2178 18.4115C10.9574 16.6975 11.9612 15.2065 13.2292 13.9385C14.4971 12.6706 15.9881 11.6668 17.7022 10.9271C19.4163 10.1875 21.2478 9.81767 23.1967 9.81767C25.1455 9.81767 26.977 10.1875 28.6911 10.9271C30.4052 11.6668 31.8962 12.6706 33.1641 13.9385C34.4321 15.2065 35.4359 16.6975 36.1755 18.4115C36.9152 20.1256 37.285 21.9571 37.285 23.906C37.285 25.8549 36.9152 27.6864 36.1755 29.4004C35.4359 31.1145 34.4321 32.6055 33.1641 33.8735C31.8962 35.1414 30.4052 36.1452 28.6911 36.8849C26.977 37.6245 25.1455 37.9943 23.1967 37.9943ZM23.1967 35.1766C26.343 35.1766 29.0081 34.0848 31.1918 31.9011C33.3755 29.7174 34.4673 27.0524 34.4673 23.906C34.4673 20.7596 33.3755 18.0946 31.1918 15.9109C29.0081 13.7272 26.343 12.6353 23.1967 12.6353C20.0503 12.6353 17.3852 13.7272 15.2015 15.9109C13.0178 18.0946 11.926 20.7596 11.926 23.906C11.926 27.0524 13.0178 29.7174 15.2015 31.9011C17.3852 34.0848 20.0503 35.1766 23.1967 35.1766Z" fill="white" class="foreground" />
                            <path d="M23.1262 32.359C23.6193 32.359 24.0361 32.1887 24.3766 31.8483C24.717 31.5078 24.8873 31.091 24.8873 30.5979C24.8873 30.1049 24.717 29.6881 24.3766 29.3476C24.0361 29.0071 23.6193 28.8369 23.1262 28.8369C22.6331 28.8369 22.2163 29.0071 21.8759 29.3476C21.5354 29.6881 21.3652 30.1049 21.3652 30.5979C21.3652 31.091 21.5354 31.5078 21.8759 31.8483C22.2163 32.1887 22.6331 32.359 23.1262 32.359ZM21.8583 26.935H24.4646C24.4646 26.1601 24.5527 25.5496 24.7288 25.1035C24.9049 24.6574 25.4038 24.0469 26.2256 23.272C26.8361 22.6615 27.3175 22.0804 27.6697 21.5286C28.0219 20.9768 28.198 20.3135 28.198 19.5386C28.198 18.2237 27.7167 17.214 26.754 16.5096C25.7913 15.8052 24.6524 15.453 23.3375 15.453C21.9991 15.453 20.9132 15.8052 20.0796 16.5096C19.2461 17.214 18.6649 18.0593 18.3362 19.0455L20.6608 19.9613C20.7782 19.5386 21.0423 19.0807 21.4532 18.5877C21.8641 18.0946 22.4922 17.848 23.3375 17.848C24.0889 17.848 24.6524 18.0535 25.0281 18.4644C25.4038 18.8753 25.5917 19.3273 25.5917 19.8204C25.5917 20.29 25.4508 20.7302 25.169 21.1412C24.8873 21.5521 24.535 21.9336 24.1124 22.2858C23.0793 23.2016 22.4453 23.8943 22.2105 24.3639C21.9757 24.8335 21.8583 25.6905 21.8583 26.935ZM23.1967 37.9943C21.2478 37.9943 19.4163 37.6245 17.7022 36.8849C15.9881 36.1452 14.4971 35.1414 13.2292 33.8735C11.9612 32.6055 10.9574 31.1145 10.2178 29.4004C9.47816 27.6864 9.10834 25.8549 9.10834 23.906C9.10834 21.9571 9.47816 20.1256 10.2178 18.4115C10.9574 16.6975 11.9612 15.2065 13.2292 13.9385C14.4971 12.6706 15.9881 11.6668 17.7022 10.9271C19.4163 10.1875 21.2478 9.81767 23.1967 9.81767C25.1455 9.81767 26.977 10.1875 28.6911 10.9271C30.4052 11.6668 31.8962 12.6706 33.1641 13.9385C34.4321 15.2065 35.4359 16.6975 36.1755 18.4115C36.9152 20.1256 37.285 21.9571 37.285 23.906C37.285 25.8549 36.9152 27.6864 36.1755 29.4004C35.4359 31.1145 34.4321 32.6055 33.1641 33.8735C31.8962 35.1414 30.4052 36.1452 28.6911 36.8849C26.977 37.6245 25.1455 37.9943 23.1967 37.9943ZM23.1967 35.1766C26.343 35.1766 29.0081 34.0848 31.1918 31.9011C33.3755 29.7174 34.4673 27.0524 34.4673 23.906C34.4673 20.7596 33.3755 18.0946 31.1918 15.9109C29.0081 13.7272 26.343 12.6353 23.1967 12.6353C20.0503 12.6353 17.3852 13.7272 15.2015 15.9109C13.0178 18.0946 11.926 20.7596 11.926 23.906C11.926 27.0524 13.0178 29.7174 15.2015 31.9011C17.3852 34.0848 20.0503 35.1766 23.1967 35.1766Z" fill="#D5D2B8" fill-opacity="0.2" />
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </div>
}
else
{
    <div class="icon" style="height:22px;" title="@(cl["help"] + "...")" onclick="@(() => ShowHelp())">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="Group 135">
                <path id="help" d="M10.5853 17.0313C10.9577 17.0313 11.2724 16.9027 11.5295 16.6455C11.7866 16.3882 11.9152 16.0733 11.9152 15.7008C11.9152 15.3282 11.7866 15.0133 11.5295 14.7561C11.2724 14.4988 10.9577 14.3702 10.5853 14.3702C10.213 14.3702 9.89828 14.4988 9.64118 14.7561C9.38408 15.0133 9.25553 15.3282 9.25553 15.7008C9.25553 16.0733 9.38408 16.3882 9.64118 16.6455C9.89828 16.9027 10.213 17.0313 10.5853 17.0313ZM9.62788 12.9332H11.596C11.596 12.3477 11.6625 11.8865 11.7955 11.5494C11.9285 11.2123 12.3052 10.751 12.9258 10.1656C13.3868 9.70432 13.7503 9.26523 14.0163 8.84832C14.2822 8.4314 14.4152 7.93022 14.4152 7.34477C14.4152 6.35127 14.0517 5.58841 13.3248 5.05618C12.5978 4.52395 11.7379 4.25784 10.7449 4.25784C9.73427 4.25784 8.91421 4.52395 8.28476 5.05618C7.65532 5.58841 7.21648 6.22709 6.96824 6.97221L8.7236 7.66411C8.81226 7.34477 9.01173 6.99882 9.32202 6.62626C9.63231 6.2537 10.1066 6.06742 10.7449 6.06742C11.3123 6.06742 11.7379 6.22265 12.0216 6.53312C12.3052 6.84359 12.4471 7.1851 12.4471 7.55766C12.4471 7.91248 12.3407 8.24512 12.1279 8.55559C11.9152 8.86606 11.6492 9.15435 11.33 9.42046C10.5499 10.1124 10.0712 10.6357 9.89384 10.9905C9.71653 11.3454 9.62788 11.9929 9.62788 12.9332ZM10.6385 21.2892C9.16688 21.2892 7.78387 21.0098 6.48951 20.4509C5.19515 19.8921 4.06924 19.1337 3.11177 18.1756C2.1543 17.2176 1.39631 16.0911 0.837785 14.796C0.279262 13.5009 0 12.1171 0 10.6446C0 9.17209 0.279262 7.78829 0.837785 6.4932C1.39631 5.19811 2.1543 4.07156 3.11177 3.11354C4.06924 2.15553 5.19515 1.3971 6.48951 0.838262C7.78387 0.279421 9.16688 0 10.6385 0C12.1102 0 13.4932 0.279421 14.7876 0.838262C16.0819 1.3971 17.2078 2.15553 18.1653 3.11354C19.1228 4.07156 19.8808 5.19811 20.4393 6.4932C20.9978 7.78829 21.2771 9.17209 21.2771 10.6446C21.2771 12.1171 20.9978 13.5009 20.4393 14.796C19.8808 16.0911 19.1228 17.2176 18.1653 18.1756C17.2078 19.1337 16.0819 19.8921 14.7876 20.4509C13.4932 21.0098 12.1102 21.2892 10.6385 21.2892ZM10.6385 19.1603C13.0145 19.1603 15.0269 18.3353 16.6759 16.6854C18.3249 15.0355 19.1494 13.0219 19.1494 10.6446C19.1494 8.2673 18.3249 6.2537 16.6759 4.60379C15.0269 2.95387 13.0145 2.12892 10.6385 2.12892C8.2626 2.12892 6.25014 2.95387 4.60117 4.60379C2.9522 6.2537 2.12771 8.2673 2.12771 10.6446C2.12771 13.0219 2.9522 15.0355 4.60117 16.6854C6.25014 18.3353 8.2626 19.1603 10.6385 19.1603Z" fill="#D5D2B8" />
            </g>
        </svg>
    </div>

}

@code {
    [Parameter]
    public bool MobileVersion { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        MapState.OnChange += OnMyChangeHandler;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        MapState.OnChange -= OnMyChangeHandler;
    }

    private async void OnMyChangeHandler()
    {
        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    private async Task ShowHelp()
    {
        if (MapState.DialogType != DialogTypeEnum.Help)
        {
            MapState.SetDialogType(DialogTypeEnum.Help);
            await DialogService.OpenSideAsync<HelpDialog>(cl["help"], options: await MapState.GetDialogOptions());
        }
        else
        {
            MapState.SetDialogType(DialogTypeEnum.None);
            DialogService.CloseSide();
        }
    }
}
