@using EhriMemoMap.Helpers;
@inject IJSRuntime JS
@inject IHttpClientFactory clientFactory
@inject DialogService DialogService
@inject MapStateService MapState
@inject MapLogicService MapLogic

@inject IStringLocalizer<CommonResources> cl

@if (layers != null && layers.Count(a => a.QuickAccess) > 0)
{
    <div style="position:absolute;top:20px;left:20px;z-index:2000">
        <div style="display:flex;gap:10px">
            @foreach (var item in layers.Where(a => a.QuickAccess).OrderBy(a => a.Order))
            {
                var iconFilter = item.FontColor == FontColor.Dark ? "filter: brightness(30%);width:20px;" : "width:20px;";
                var fontColor = item.FontColor == FontColor.Light ? "var(--Beige-LIGHT)" : "var(--Grey)";

                <div style="background-color: @(item.BackgroundColor); color: @(fontColor); border-radius: 6px; order:@(item.Order);height: 38px;" class="center">
                    <RadzenImage Style="@(iconFilter + "cursor:pointer")" class="rz-px-1" Click="@(() => OnLayerClick(item))" Path="@(item.Selected ? "images/checkbox-true.svg" : "images/checkbox-false.svg")"></RadzenImage>
                    <span class="rz-px-1" style="font-size: 16px; font-family: Barlow; font-weight: 700;">@cl["layer_" + item.Name + "_title_short"]</span>
                    <RadzenImage class="rz-px-2" Style="@iconFilter" Path="@("images/" + item.Name + ".png")"></RadzenImage>
                </div>
            }
        </div>
    </div>

}

@code {

    IEnumerable<LayerModel>? layers;

    protected override async Task OnInitializedAsync()
    {
        layers = MapState.GetNotBaseLayers().ToList();
        MapState.OnChange += OnMyChangeHandler;
    }

    public void Dispose()
    {
        MapState.OnChange -= OnMyChangeHandler;
    }


    private async void OnMyChangeHandler()
    {
        await InvokeAsync(() =>
        {
            layers = MapState.GetNotBaseLayers().ToList();
            StateHasChanged();
        });
    }

    private async Task OnLayerClick(LayerModel layer)
    {
        // když kliknu na tlačítko a je otevřené dialogové okno s vrstvami
        // tak notifikuju MapState, aby se změna propsala i v dialogovém okně
        if (MapState.DialogType == DialogTypeEnum.Layers)
            MapState.NotifyStateChanged();

        layer.Selected = !layer.Selected;
        if (layer.Type == LayerType.WMS)
            await JS.InvokeVoidAsync("mapAPI.toggleLayerGroup", layer.Name, layer.Selected);

        else if (layer.Type == LayerType.Polygons)
            await JS.InvokeVoidAsync("mapAPI.toggleLayerGroup", LayerType.Polygons.ToString(), layer.Selected);

        else if (layer.Type == LayerType.Objects)
            await MapLogic.RefreshObjectsOnMap(false);

        await JS.InvokeVoidAsync("mapAPI.setUrlParam", "layers", MapState.GetLayersForUrlParameter());
    }
}