@using System.Xml;
@using System.Xml.Linq;
@inject IStringLocalizer<CommonResources> cl
@inject MapStateService MapState
@inject MapLogicService MapLogic
@inject IJSRuntime JS

<div class="rz-pt-12">
    @if (PlacesToShow != null)
    {
        @if (MapState.DialogParameters?.Places?.GroupBy(a => a.PlaceType).Count() == 1)
        {
            <div style="padding: 0 2.5rem 0 2.5rem">
                <h2 class="rz-mb-6" style="color:var(--Wine-Red);">@cl["featureType_" + MapState.DialogParameters.Places.FirstOrDefault()?.PlaceType]</h2>
                @{
                    var placeType = Enum.Parse<PlaceType>(MapState.DialogParameters.Places.FirstOrDefault().PlaceType);
                }
                <PlaceContentRouter PlaceType="@placeType" PlacesToShow="PlacesToShow" FilteredName="@filteredName" />
            </div>
        }
        else
        {
            <div class="rz-pt-6">
                <RadzenTabs RenderMode="TabRenderMode.Client">
                    <Tabs>
                        @foreach (var placeType in MapState.DialogParameters?.Places?.Where(a => !string.IsNullOrEmpty(a.PlaceType)).GroupBy(a => a.PlaceType).Select(a => Enum.Parse<PlaceType>(a.Key)) ?? [])
                        {
                            <RadzenTabsItem Text="@(cl["featureType_" + placeType.ToString()])">
                                <div style="padding:1.5rem">
                                    <PlaceContentRouter PlaceType="@placeType" PlacesToShow="PlacesToShow" FilteredName="@filteredName" />
                                </div>
                            </RadzenTabsItem>
                        }
                    </Tabs>
                </RadzenTabs>
            </div>

        }

    }
</div>


@code {

    private PlacesResult? PlacesToShow { get; set; }
    private string? filteredName { get; set; }

    protected override async Task OnInitializedAsync()
    {
        MapState.OnChange += OnMapStateChanged;
        await FetchData();
    }

    public void Dispose()
    {
        MapState.OnChange -= OnMapStateChanged;
    }

    private async void OnMapStateChanged()
    {
        await FetchData();
        StateHasChanged();
    }

    private async Task FetchData()
    {
        if (MapState.DialogType != DialogTypeEnum.Place || MapState.DialogParameters?.Places == null)
            return;

        PlacesToShow = null;

        var parameters = new PlacesParameters { City = MapState.Map.InitialVariables?.City };

        if (MapState.DialogParameters.Places.Any(a => a.PlaceType == PlaceType.AddressLastResidence.ToString()))
            parameters.AddressesLastResidenceIds = MapState.DialogParameters.Places.Where(a => a.PlaceType == PlaceType.AddressLastResidence.ToString()).Select(a => (long?)long.Parse(a.Id ?? "0")).ToArray();

        if (MapState.DialogParameters.Places.Any(a => a.PlaceType == PlaceType.Incident.ToString()))
            parameters.IncidentsIds = MapState.DialogParameters.Places.Where(a => a.PlaceType == PlaceType.Incident.ToString()).Select(a => (long?)long.Parse(a.Id ?? "0")).ToArray();

        if (MapState.DialogParameters.Places.Any(a => a.PlaceType == PlaceType.Interest.ToString()))
            parameters.PlacesOfInterestIds = MapState.DialogParameters.Places.Where(a => a.PlaceType == PlaceType.Interest.ToString()).Select(a => (long?)long.Parse(a.Id ?? "0")).ToArray();

        if (MapState.DialogParameters.Places.Any(a => a.PlaceType == PlaceType.Inaccessible.ToString()))
            parameters.InaccessiblePlacesIds = MapState.DialogParameters.Places.Where(a => a.PlaceType == PlaceType.Inaccessible.ToString()).Select(a => (long?)long.Parse(a.Id ?? "0")).ToArray();

        if (MapState.DialogParameters.Places.Any(a => a.PlaceType == PlaceType.Address.ToString()))
            parameters.AddressesIds = MapState.DialogParameters.Places.Where(a => a.PlaceType == PlaceType.Address.ToString()).Select(a => (long?)long.Parse(a.Id ?? "0")).ToArray();

        if (MapState.DialogParameters.Places.Any(a => a.PlaceType == PlaceType.Memory.ToString()))
            parameters.PlacesOfMemoryIds = MapState.DialogParameters.Places.Where(a => a.PlaceType == PlaceType.Memory.ToString()).Select(a => (long?)long.Parse(a.Id ?? "0")).ToArray();

        if (MapState.DialogParameters.Places.Any(a => a.PlaceType == PlaceType.Memorial.ToString()))
            parameters.MemorialsIds = MapState.DialogParameters.Places.Where(a => a.PlaceType == PlaceType.Memorial.ToString()).Select(a => (long?)long.Parse(a.Id ?? "0")).ToArray();

        PlacesToShow = await MapLogic.GetPlaces(parameters);

    }

    protected void ChangedFilteredName()
    {
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("mapAPI.resizePhotoHeight");

    }

}

