@using System.Linq
@using System.Text.RegularExpressions;


@inject IStringLocalizer<CommonResources> cl
@inject MapState MapState

@if (WMSResponse != null && WMSResponse.Layers != null && WMSResponse.Layers.Any(a => (a.Type == WMSFeatureType.Obeti_holokaustu_z_Prahy || a.Type == WMSFeatureType.Bydliste_Zidu_v_Praze_v_dobe_okupace) && a.Features != null && a.Features.Count > 0))
{
    @foreach (var victimGroup in WMSResponse.Layers.Where(a => a.Type == WMSFeatureType.Obeti_holokaustu_z_Prahy || a.Type == WMSFeatureType.Bydliste_Zidu_v_Praze_v_dobe_okupace).SelectMany(a => a.Features).GroupBy(b => b.Address))
    {
        <h3>@victimGroup.Key</h3>
        <RadzenRow Gap="1rem" JustifyContent=JustifyContent.Left>
            @foreach (var house in victimGroup.Where(a => a.FeatureInfoType == WMSFeatureType.Bydliste_Zidu_v_Praze_v_dobe_okupace))
            {
                <RadzenColumn Size="12">
                    <RadzenCard>
                        <ul class="no-bullets">
                            <li>@cl["jewishResidents1941"]: @house.JewishResidents1941</li>
                            <li>@cl["murdered"]: @house.Murdered</li>
                            <li>@cl["survived"]: @house.Survived</li>
                            <li>@cl["fateUnknown"]: @house.FateUnknown</li>
                            <li>@cl["notDeportedUntil_1_1_1942"]: @house.NotDeportedUntil_1_1_1942</li>
                            <li>@cl["notDeportedUntil_1_1_1943"]: @house.NotDeportedUntil_1_1_1943</li>
                            <li>@cl["notDeportedUntil_1_1_1944"]: @house.NotDeportedUntil_1_1_1944</li>
                            <li>@cl["notDeportedUntil_1_1_1945"]: @house.NotDeportedUntil_1_1_1945</li>
                            <li>@cl["notDeportedUntil_9_5_1945"]: @house.NotDeportedUntil_9_5_1945</li>
                        </ul>
                    </RadzenCard>
                </RadzenColumn>

            }

            @foreach (var victim in victimGroup.Where(a => a.FeatureInfoType == WMSFeatureType.Obeti_holokaustu_z_Prahy))
            {
                <RadzenColumn Size="MapState.DialogIsFullscreen && !MapState.IsMobileBrowser ? 2 : 6">
                    <RadzenCard>
                        <RadzenImage Style="width:100%" Path="images/face.png" />
                        <div><small>@victim.NameAndBirthDate</small></div>
                    </RadzenCard>
                </RadzenColumn>
            }
        </RadzenRow>
    }
}

@code {
    [Parameter]
    public WMSResponse WMSResponse { get; set; }

}
