@using EhriMemoMap.Helpers;
@using System.Xml;
@using System.Xml.Linq;
@inject IStringLocalizer<CommonResources> cl

<RadzenRow class="rz-mb-4">
    <RadzenCard Style="width:100%">

        @if (WMSFeatureInfo.FeatureInfoType == WMSFeatureType.Body_zajmu || WMSFeatureInfo.FeatureInfoType == WMSFeatureType.Neprisupna_mista)
        {
            <ul class="no-bullets">
                <li><b>@WMSFeatureInfo.Title</b></li>
                @if (WMSFeatureInfo.Address != "NULL")
                {
                    <li><i>@WMSFeatureInfo.Address</i></li>
                }
                <li>@WMSFeatureInfo.Description</li>
            </ul>
        }
        else if (WMSFeatureInfo.FeatureInfoType == WMSFeatureType.Incidenty_v_prostoru_mesta_Prahy)
        {
            <ul class="no-bullets">
                <li><b>@WMSFeatureInfo.Title</b></li>
                <li><i>@WMSFeatureInfo.Date?.ToString("d. M. yyyy")</i></li>
                <li>@cl["place"]: @WMSFeatureInfo.Place</li>
                @if (WMSFeatureInfo.Description != "NULL")
                {
                    <li>@cl["description"]: @WMSFeatureInfo.Description</li>
                }
                <li>@cl["type"]: @WMSFeatureInfo.Type</li>
                @if (WMSFeatureInfo.Specification != "NULL")
                {
                    <li>@cl["specification"]: @WMSFeatureInfo.Specification</li>
                }
                <li>@cl["documents"]: @((MarkupString)WMSFeatureInfo.Documents?.Linkify())</li>
            </ul>
        }

    </RadzenCard>
</RadzenRow>

@code {
    [Parameter]
    public WMSFeatureInfo WMSFeatureInfo { get; set; }
}
