@inject IStringLocalizer<CommonResources> cl
@inject MapService MapService
@inject IJSRuntime JS

<div style="padding:2.5rem 2.5rem 0 2.5rem;" id="card-narrative">

    @if (MapService.AllNarrativeMaps != null)
    {
        if (MapService.DialogParameters.Id == null)
        {
            <h1 class="rz-mb-8" style="color:var(--Wine-Red)">@cl.GetString("storyMaps")</h1>
            @foreach (var map in MapService.AllNarrativeMaps)
            {
                <div>
                    <h4 class="rz-mb-6" style="cursor:pointer" onclick="@(() => MapService.ShowNarrativeMap(map.Id))">@(CultureInfo.CurrentCulture.ToString() == "cs-CZ" ? @map.LabelCs : @map.LabelEn)</h4>
                </div>
            }
        }
        else if (MapService.DialogParameters.Id != null && MapService.AllNarrativeMaps.Count > 1)
        {
            <RadzenRow onclick="@(() => MapService.ShowAllStoryMaps())" AlignItems="AlignItems.Center" class="rz-mb-4" Style="cursor:pointer">
                <RadzenColumn Size="11">
                    <h4>
                        @cl.GetString("backToOtherStoryMaps")
                    </h4>
                </RadzenColumn>
                <RadzenColumn Size="1">
                    <RadzenImage Path="images/storymap-icon.png" Style="height:30px" />
                </RadzenColumn>
            </RadzenRow>
        }
        if (MapService.DialogParameters.Id != null || MapService.AllNarrativeMaps.Count == 1)
        {
            <RadzenRow>
                <RadzenColumn Size="12">
                    <h1 class="rz-mb-6" style="color:var(--Wine-Red)">@(CultureInfo.CurrentCulture.ToString() == "cs-CZ" ? MapService.NarrativeMap?.LabelCs : MapService.NarrativeMap?.LabelEn)</h1>
                </RadzenColumn>
            </RadzenRow>

            <StoryMapTimeline />
        }
    }

</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        MapService.OnChange += StateHasChanged;
    }

    
    public void Dispose()
    {
        MapService.OnChange -= StateHasChanged;
    }
}
