@inject IStringLocalizer<CommonResources> cl
@inject MapService MapService;

@if (statistics == null)
{
    <RadzenProgressBarCircular Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
}
else
{
    <table style="padding-bottom:15px">
        @if (statistics.Victims != null && statistics.Victims > 0)
        {
            <tr>
                <td class='cell firstCell'>
                    <img src='images/home-welcome.svg' width=28 />
                </td>
                <td class='cell secondCell'>
                    @cl["countJews"]
                    <span class="tooltip">
                        <img src='/images/help-small.svg' class="icon-help" />
                        <span class="tooltiptext tooltiptext-top">@cl["help_victims_" + MapService?.Map?.InitialVariables?.City]</span>
                    </span>
                </td>
                <td class='cell thirdCell'>
                    @statistics.Victims
                </td>
            </tr>
        }

        @if (statistics.Incidents != null && statistics.Incidents > 0)
        {
            <tr>
                <td class='cell firstCell'>
                    <img src='images/incident-welcome.svg' width=28 />
                </td>
                <td class='cell secondCell'>
                    @cl["countIncidents"]
                    <span class="tooltip">
                        <img src='/images/help-small.svg' class="icon-help" />
                        <span class="tooltiptext tooltiptext-top">@cl["help_incident_" + MapService?.Map?.InitialVariables?.City]</span>
                    </span>
                </td>
                <td class='cell thirdCell'>
                    @statistics.Incidents
                </td>
            </tr>
        }

        @if (statistics.Interests != null && statistics.Interests > 0)
        {
            <tr>
                <td class='cell firstCell'>
                    <img src='images/interest-welcome.svg' width=28 />
                </td>
                <td class='cell secondCell'>
                    @cl["countPointsOfInterest"]
                    <span class="tooltip">
                        <img src='/images/help-small.svg' class="icon-help" />
                        <span class="tooltiptext tooltiptext-top">@cl["help_interest_" + MapService?.Map?.InitialVariables?.City]</span>
                    </span>
                </td>
                <td class='cell thirdCell'>
                    @statistics.Interests
                </td>
            </tr>

        }

        @if (statistics.Inaccessibles != null && statistics.Inaccessibles > 0)
        {
            <tr>
                <td class='cell firstCell'>
                    <img src='images/inaccessible-welcome.svg' width=28 />
                </td>
                <td class='cell secondCell'>
                    @cl["countInaccessiblePlaces"]
                    <span class="tooltip">
                        <img src='/images/help-small.svg' class="icon-help" />
                        <span class="tooltiptext tooltiptext-top">@cl["help_inaccessible_" + MapService?.Map?.InitialVariables?.City]</span>
                    </span>
                </td>
                <td class='cell thirdCell'>
                    @statistics.Inaccessibles
                </td>
            </tr>

        }

        @if (statistics.PlacesOfMemory != null && statistics.PlacesOfMemory > 0)
        {
            <tr>
                <td class='cell firstCell'>
                    <img src='images/memory-welcome.svg' width=28 />
                </td>
                <td class='cell secondCell'>
                    @cl["countPlacesOfMemory"]
                    <span class="tooltip">
                        <img src='/images/help-small.svg' class="icon-help" />
                        <span class="tooltiptext tooltiptext-top">@cl["help_memory_" + MapService?.Map?.InitialVariables?.City]</span>
                    </span>
                </td>
                <td class='cell thirdCell'>
                    @statistics.PlacesOfMemory
                </td>
            </tr>
        }

        @if (statistics.Memorials != null && statistics.Memorials > 0)
        {
            <tr>
                <td class='cell firstCell'>
                    <img src='images/memorial-welcome.svg' width=28 />
                </td>
                <td class='cell secondCell'>
                    @cl["countMemorials"]
                    <span class="tooltip">
                        <img src='/images/help-small.svg' class="icon-help" />
                        <span class="tooltiptext tooltiptext-top">@cl["help_memorials_" + MapService?.Map?.InitialVariables?.City]</span>
                    </span>
                </td>
                <td class='cell thirdCell'>
                    @statistics.Memorials
                </td>
            </tr>
        }

        @if (statistics.StoryMaps != null && statistics.StoryMaps  > 0)
        {
            <tr>
                <td class='cell firstCell' style="text-align:center">
                    <img src='images/storymap-icon.png' width=20 />
                </td>
                <td class='cell secondCell'>
                    @cl["countStoryMaps"]
                    <span class="tooltip">
                        <img src='/images/help-small.svg' class="icon-help" />
                        <span class="tooltiptext tooltiptext-top">@cl["help_storymap_" + MapService?.Map?.InitialVariables?.City]</span>
                    </span>
                </td>
                <td class='cell thirdCell'>
                    @statistics.StoryMaps
                </td>
            </tr>
        }

    </table>
}

@code {

    WelcomeDialogStatistics? statistics;

    protected override async Task OnInitializedAsync()
    {
        statistics = await MapService.GetWelcomeDialogStatistics();
    }
}