@inject IJSRuntime JS
@inject IHttpClientFactory clientFactory
@inject DialogService DialogService
@inject MapStateService MapState
@inject IStringLocalizer<CommonResources> cl

@if (!MobileVersion)
{
    <div class="icon @(MapState.DialogType == DialogTypeEnum.Search ? "icon-selected" : "")" title="@(cl["search"] + "...")" onclick="@(() => ShowSearch())">
        <svg width="47" height="50" viewBox="0 0 47 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="Group 55">
                <path id="Rectangle 23" d="M0 4.75213C0 2.54299 1.79086 0.752136 4 0.752136H47.1795V49.5043H4C1.79086 49.5043 0 47.7134 0 45.5043V4.75213Z" fill="#46463D" class="background" />
                <g id="search">
                    <mask id="mask0_1806_1098" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="6" y="8" width="35" height="35">
                        <rect id="Bounding box" x="6.29059" y="8.58262" width="33.812" height="33.812" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_1806_1098)">
                        <g id="search_2">
                            <path d="M33.9037 38.1681L25.0281 29.2925C24.3236 29.856 23.5136 30.3021 22.5978 30.6308C21.6821 30.9596 20.7076 31.1239 19.6745 31.1239C17.1151 31.1239 14.949 30.2375 13.1763 28.4648C11.4035 26.692 10.5171 24.5259 10.5171 21.9665C10.5171 19.4071 11.4035 17.2411 13.1763 15.4683C14.949 13.6955 17.1151 12.8091 19.6745 12.8091C22.2339 12.8091 24.4 13.6955 26.1727 15.4683C27.9455 17.2411 28.8319 19.4071 28.8319 21.9665C28.8319 22.9997 28.6675 23.9741 28.3388 24.8899C28.0101 25.8056 27.564 26.6157 27.0004 27.3201L35.8761 36.1957L33.9037 38.1681ZM19.6745 28.3063C21.4355 28.3063 22.9324 27.6899 24.1651 26.4572C25.3979 25.2245 26.0142 23.7276 26.0142 21.9665C26.0142 20.2055 25.3979 18.7086 24.1651 17.4759C22.9324 16.2431 21.4355 15.6268 19.6745 15.6268C17.9135 15.6268 16.4166 16.2431 15.1838 17.4759C13.9511 18.7086 13.3348 20.2055 13.3348 21.9665C13.3348 23.7276 13.9511 25.2245 15.1838 26.4572C16.4166 27.6899 17.9135 28.3063 19.6745 28.3063Z" class="foreground" fill="white" />
                            <path d="M33.9037 38.1681L25.0281 29.2925C24.3236 29.856 23.5136 30.3021 22.5978 30.6308C21.6821 30.9596 20.7076 31.1239 19.6745 31.1239C17.1151 31.1239 14.949 30.2375 13.1763 28.4648C11.4035 26.692 10.5171 24.5259 10.5171 21.9665C10.5171 19.4071 11.4035 17.2411 13.1763 15.4683C14.949 13.6955 17.1151 12.8091 19.6745 12.8091C22.2339 12.8091 24.4 13.6955 26.1727 15.4683C27.9455 17.2411 28.8319 19.4071 28.8319 21.9665C28.8319 22.9997 28.6675 23.9741 28.3388 24.8899C28.0101 25.8056 27.564 26.6157 27.0004 27.3201L35.8761 36.1957L33.9037 38.1681ZM19.6745 28.3063C21.4355 28.3063 22.9324 27.6899 24.1651 26.4572C25.3979 25.2245 26.0142 23.7276 26.0142 21.9665C26.0142 20.2055 25.3979 18.7086 24.1651 17.4759C22.9324 16.2431 21.4355 15.6268 19.6745 15.6268C17.9135 15.6268 16.4166 16.2431 15.1838 17.4759C13.9511 18.7086 13.3348 20.2055 13.3348 21.9665C13.3348 23.7276 13.9511 25.2245 15.1838 26.4572C16.4166 27.6899 17.9135 28.3063 19.6745 28.3063Z" fill="#D5D2B8" fill-opacity="0.2" />
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </div>
}
else
{
    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" class="@((MapState.DialogType == DialogTypeEnum.Search ? "mobile-menu-icon-selected" : "mobile-menu-icon") + " " + (Border ? "border" : ""))" title="@(cl["layers"] + "...")" onclick="@(() => ShowSearch())">
        <svg width="26" height="28" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M23.9038 26.1681L15.0281 17.2925C14.3237 17.856 13.5136 18.3021 12.5979 18.6308C11.6821 18.9596 10.7077 19.1239 9.67456 19.1239C7.11518 19.1239 4.9491 18.2375 3.17632 16.4648C1.40354 14.692 0.517151 12.5259 0.517151 9.96653C0.517151 7.40715 1.40354 5.24107 3.17632 3.46829C4.9491 1.69551 7.11518 0.80912 9.67456 0.80912C12.2339 0.80912 14.4 1.69551 16.1728 3.46829C17.9456 5.24107 18.832 7.40715 18.832 9.96653C18.832 10.9997 18.6676 11.9741 18.3389 12.8899C18.0101 13.8056 17.564 14.6157 17.0005 15.3201L25.8761 24.1957L23.9038 26.1681ZM9.67456 16.3063C11.4356 16.3063 12.9325 15.6899 14.1652 14.4572C15.3979 13.2245 16.0143 11.7276 16.0143 9.96653C16.0143 8.20549 15.3979 6.7086 14.1652 5.47588C12.9325 4.24315 11.4356 3.62678 9.67456 3.62678C7.91352 3.62678 6.41663 4.24315 5.18391 5.47588C3.95118 6.7086 3.33481 8.20549 3.33481 9.96653C3.33481 11.7276 3.95118 13.2245 5.18391 14.4572C6.41663 15.6899 7.91352 16.3063 9.67456 16.3063Z" fill="white" />
            <path d="M23.9038 26.1681L15.0281 17.2925C14.3237 17.856 13.5136 18.3021 12.5979 18.6308C11.6821 18.9596 10.7077 19.1239 9.67456 19.1239C7.11518 19.1239 4.9491 18.2375 3.17632 16.4648C1.40354 14.692 0.517151 12.5259 0.517151 9.96653C0.517151 7.40715 1.40354 5.24107 3.17632 3.46829C4.9491 1.69551 7.11518 0.80912 9.67456 0.80912C12.2339 0.80912 14.4 1.69551 16.1728 3.46829C17.9456 5.24107 18.832 7.40715 18.832 9.96653C18.832 10.9997 18.6676 11.9741 18.3389 12.8899C18.0101 13.8056 17.564 14.6157 17.0005 15.3201L25.8761 24.1957L23.9038 26.1681ZM9.67456 16.3063C11.4356 16.3063 12.9325 15.6899 14.1652 14.4572C15.3979 13.2245 16.0143 11.7276 16.0143 9.96653C16.0143 8.20549 15.3979 6.7086 14.1652 5.47588C12.9325 4.24315 11.4356 3.62678 9.67456 3.62678C7.91352 3.62678 6.41663 4.24315 5.18391 5.47588C3.95118 6.7086 3.33481 8.20549 3.33481 9.96653C3.33481 11.7276 3.95118 13.2245 5.18391 14.4572C6.41663 15.6899 7.91352 16.3063 9.67456 16.3063Z" fill="#D5D2B8" fill-opacity="0.2" />
        </svg>
    </RadzenStack>

}

@code {
    [Parameter]
    public bool MobileVersion { get; set; } = false;

    [Parameter]
    public bool Border { get; set; } = false;

    protected override void OnInitialized()
    {
        MapState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        MapState.OnChange -= StateHasChanged;
    }


    private async Task ShowSearch()
    {
        await MapState.SetDialog(MapState.DialogType == DialogTypeEnum.Search ? DialogTypeEnum.None : DialogTypeEnum.Search);
        MapState.NotifyStateChanged();
    }


}
