@inject MapStateService MapState
@inject IStringLocalizer<CommonResources> cl
@inject NavigationManager NavManager
@inject DialogService DialogService
@inject StoryMapService StoryMapService

@if (!MobileVersion)
{
    <div class="icon @(MapState.DialogType == DialogTypeEnum.StoryMap ? "icon-selected" : "")" title="@(cl["storyMaps"] + "...")" onclick="@(() => ShowStoryMap())">
        <svg class="icon" width="47" height="49" viewBox="0 0 47 49" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="background" d="M0 3.99999C0 1.79086 1.79086 0 4 0H47.1795V48.7521H4C1.79086 48.7521 0 46.9613 0 44.7521V3.99999Z" fill="#46463D" />

            <g transform="translate(11.3, 8)">
                <path class="foreground" d="M12.2887 28.651C15.412 25.7837 17.729 23.1787 19.2394 20.8362C20.7499 18.4937 21.5052 16.4136 21.5052 14.5959C21.5052 11.8053 20.6155 9.52041 18.8362 7.74111C17.0569 5.96181 14.8744 5.07217 12.2887 5.07217C9.70292 5.07217 7.52041 5.96181 5.74111 7.74111C3.96181 9.52041 3.07217 11.8053 3.07217 14.5959C3.07217 16.4136 3.82741 18.4937 5.33789 20.8362C6.84837 23.1787 9.16529 25.7837 12.2887 28.651ZM12.2887 32.7217C8.16684 29.2143 5.08827 25.9565 3.05296 22.9483C1.01765 19.9402 0 17.156 0 14.5959C0 10.7557 1.23527 7.69631 3.7058 5.41778C6.17633 3.13926 9.03729 2 12.2887 2C15.54 2 18.401 3.13926 20.8715 5.41778C23.3421 7.69631 24.5773 10.7557 24.5773 14.5959C24.5773 17.156 23.5597 19.9402 21.5244 22.9483C19.4891 25.9565 16.4105 29.2143 12.2887 32.7217Z" fill="white" />

                <path class="foreground" d="M12.2887 28.651C15.412 25.7837 17.729 23.1787 19.2394 20.8362C20.7499 18.4937 21.5052 16.4136 21.5052 14.5959C21.5052 11.8053 20.6155 9.52041 18.8362 7.74111C17.0569 5.96181 14.8744 5.07217 12.2887 5.07217C9.70292 5.07217 7.52041 5.96181 5.74111 7.74111C3.96181 9.52041 3.07217 11.8053 3.07217 14.5959C3.07217 16.4136 3.82741 18.4937 5.33789 20.8362C6.84837 23.1787 9.16529 25.7837 12.2887 28.651ZM12.2887 32.7217C8.16684 29.2143 5.08827 25.9565 3.05296 22.9483C1.01765 19.9402 0 17.156 0 14.5959C0 10.7557 1.23527 7.69631 3.7058 5.41778C6.17633 3.13926 9.03729 2 12.2887 2C15.54 2 18.401 3.13926 20.8715 5.41778C23.3421 7.69631 24.5773 10.7557 24.5773 14.5959C24.5773 17.156 23.5597 19.9402 21.5244 22.9483C19.4891 25.9565 16.4105 29.2143 12.2887 32.7217Z" fill="#D5D2B8" fill-opacity="0.2" />

                <path class="foreground" d="M7.2395 16.188V12.3658L19.0882 0.5396C19.2681 0.359733 19.4704 0.224833 19.6953 0.1349C19.9201 0.0449666 20.1449 0 20.3698 0C20.6096 0 20.8382 0.0449666 21.0555 0.1349C21.2728 0.224833 21.4639 0.359733 21.6288 0.5396L22.8879 1.79867C23.0678 1.96354 23.2027 2.15465 23.2926 2.37199C23.3825 2.58933 23.4275 2.81791 23.4275 3.05773C23.4275 3.28256 23.3825 3.5074 23.2926 3.73223C23.2027 3.95706 23.0678 4.15941 22.8879 4.33928L11.0617 16.188H7.2395ZM9.03817 14.3893H10.2972L19.1332 5.57586L18.5036 4.92385L17.8516 4.29431L9.03817 13.1303V14.3893ZM18.5036 4.92385L17.8516 4.29431L19.1332 5.57586L18.5036 4.92385Z" fill="white" />

                <path class="foreground" d="M7.2395 16.188V12.3658L19.0882 0.5396C19.2681 0.359733 19.4704 0.224833 19.6953 0.1349C19.9201 0.0449666 20.1449 0 20.3698 0C20.6096 0 20.8382 0.0449666 21.0555 0.1349C21.2728 0.224833 21.4639 0.359733 21.6288 0.5396L22.8879 1.79867C23.0678 1.96354 23.2027 2.15465 23.2926 2.37199C23.3825 2.58933 23.4275 2.81791 23.4275 3.05773C23.4275 3.28256 23.3825 3.5074 23.2926 3.73223C23.2027 3.95706 23.0678 4.15941 22.8879 4.33928L11.0617 16.188H7.2395ZM9.03817 14.3893H10.2972L19.1332 5.57586L18.5036 4.92385L17.8516 4.29431L9.03817 13.1303V14.3893ZM18.5036 4.92385L17.8516 4.29431L19.1332 5.57586L18.5036 4.92385Z" fill="#D5D2B8" fill-opacity="0.2" />

                <path class="foreground-stroke" d="M8.2395 17.499C8.29819 18.7705 8.59661 21.9495 12.0126 21.9496C16.6301 21.9497 14.2379 12.2536 23.0264 15.4326" stroke="white" stroke-width="2" />

                <path class="foreground-stroke" d="M8.2395 17.499C8.29819 18.7705 8.59661 21.9495 12.0126 21.9496C16.6301 21.9497 14.2379 12.2536 23.0264 15.4326" stroke="#D5D2B8" stroke-opacity="0.2" stroke-width="2" />
            </g>
        </svg>   @*      <svg width="25" height="33" viewBox="0 0 25 33" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.2887 28.651C15.412 25.7837 17.729 23.1787 19.2394 20.8362C20.7499 18.4937 21.5052 16.4136 21.5052 14.5959C21.5052 11.8053 20.6155 9.52041 18.8362 7.74111C17.0569 5.96181 14.8744 5.07217 12.2887 5.07217C9.70292 5.07217 7.52041 5.96181 5.74111 7.74111C3.96181 9.52041 3.07217 11.8053 3.07217 14.5959C3.07217 16.4136 3.82741 18.4937 5.33789 20.8362C6.84837 23.1787 9.16529 25.7837 12.2887 28.651ZM12.2887 32.7217C8.16684 29.2143 5.08827 25.9565 3.05296 22.9483C1.01765 19.9402 0 17.156 0 14.5959C0 10.7557 1.23527 7.69631 3.7058 5.41778C6.17633 3.13926 9.03729 2 12.2887 2C15.54 2 18.401 3.13926 20.8715 5.41778C23.3421 7.69631 24.5773 10.7557 24.5773 14.5959C24.5773 17.156 23.5597 19.9402 21.5244 22.9483C19.4891 25.9565 16.4105 29.2143 12.2887 32.7217Z" fill="white" />
            <path d="M12.2887 28.651C15.412 25.7837 17.729 23.1787 19.2394 20.8362C20.7499 18.4937 21.5052 16.4136 21.5052 14.5959C21.5052 11.8053 20.6155 9.52041 18.8362 7.74111C17.0569 5.96181 14.8744 5.07217 12.2887 5.07217C9.70292 5.07217 7.52041 5.96181 5.74111 7.74111C3.96181 9.52041 3.07217 11.8053 3.07217 14.5959C3.07217 16.4136 3.82741 18.4937 5.33789 20.8362C6.84837 23.1787 9.16529 25.7837 12.2887 28.651ZM12.2887 32.7217C8.16684 29.2143 5.08827 25.9565 3.05296 22.9483C1.01765 19.9402 0 17.156 0 14.5959C0 10.7557 1.23527 7.69631 3.7058 5.41778C6.17633 3.13926 9.03729 2 12.2887 2C15.54 2 18.401 3.13926 20.8715 5.41778C23.3421 7.69631 24.5773 10.7557 24.5773 14.5959C24.5773 17.156 23.5597 19.9402 21.5244 22.9483C19.4891 25.9565 16.4105 29.2143 12.2887 32.7217Z" fill="#D5D2B8" fill-opacity="0.2" />
            <path d="M7.2395 16.188V12.3658L19.0882 0.5396C19.2681 0.359733 19.4704 0.224833 19.6953 0.1349C19.9201 0.0449666 20.1449 0 20.3698 0C20.6096 0 20.8382 0.0449666 21.0555 0.1349C21.2728 0.224833 21.4639 0.359733 21.6288 0.5396L22.8879 1.79867C23.0678 1.96354 23.2027 2.15465 23.2926 2.37199C23.3825 2.58933 23.4275 2.81791 23.4275 3.05773C23.4275 3.28256 23.3825 3.5074 23.2926 3.73223C23.2027 3.95706 23.0678 4.15941 22.8879 4.33928L11.0617 16.188H7.2395ZM9.03817 14.3893H10.2972L19.1332 5.57586L18.5036 4.92385L17.8516 4.29431L9.03817 13.1303V14.3893ZM18.5036 4.92385L17.8516 4.29431L19.1332 5.57586L18.5036 4.92385Z" fill="white" />
            <path d="M7.2395 16.188V12.3658L19.0882 0.5396C19.2681 0.359733 19.4704 0.224833 19.6953 0.1349C19.9201 0.0449666 20.1449 0 20.3698 0C20.6096 0 20.8382 0.0449666 21.0555 0.1349C21.2728 0.224833 21.4639 0.359733 21.6288 0.5396L22.8879 1.79867C23.0678 1.96354 23.2027 2.15465 23.2926 2.37199C23.3825 2.58933 23.4275 2.81791 23.4275 3.05773C23.4275 3.28256 23.3825 3.5074 23.2926 3.73223C23.2027 3.95706 23.0678 4.15941 22.8879 4.33928L11.0617 16.188H7.2395ZM9.03817 14.3893H10.2972L19.1332 5.57586L18.5036 4.92385L17.8516 4.29431L9.03817 13.1303V14.3893ZM18.5036 4.92385L17.8516 4.29431L19.1332 5.57586L18.5036 4.92385Z" fill="#D5D2B8" fill-opacity="0.2" />
            <path d="M8.2395 17.499C8.29819 18.7705 8.59661 21.9495 12.0126 21.9496C16.6301 21.9497 14.2379 12.2536 23.0264 15.4326" stroke="white" stroke-width="2" />
            <path d="M8.2395 17.499C8.29819 18.7705 8.59661 21.9495 12.0126 21.9496C16.6301 21.9497 14.2379 12.2536 23.0264 15.4326" stroke="#D5D2B8" stroke-opacity="0.2" stroke-width="2" />
        </svg> *@
@*         <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 47 49" width="47" height="49" xml:space="preserve"><path id="Rectangle 23" d="M0 3.99999C0 1.79086 1.79086 0 4 0H47.1795V48.7521H4C1.79086 48.7521 0 46.9613 0 44.7521V3.99999Z" fill="#46463D" class="background"></path>
            <path transform="scale(0.38)" class="foreground" fill="white" opacity="1.000000" stroke="none" d="M69.000000,75.951370 C69.000000,79.724586 69.000000,83.006645 69.000000,86.411018 C81.537132,85.726959 94.131744,87.831398 101.927284,74.923615 C102.248085,75.236565 102.568893,75.549522 102.889702,75.862480 C102.889702,82.408501 103.058685,88.964119 102.687660,95.489044 C102.638199,96.358841 99.806084,97.811867 98.340454,97.722221 C93.736946,97.440628 89.119995,96.791763 84.601990,95.840134 C78.214043,94.494621 72.556374,95.239372 67.494553,99.747925 C66.565575,100.575363 63.776230,100.884399 63.116100,100.202591 C55.843529,92.691360 47.201584,95.576477 38.757366,96.571777 C26.809843,97.980019 26.902910,101.359154 26.983559,87.275848 C27.060799,73.788147 27.190437,60.295498 26.892204,46.813980 C26.798597,42.582535 28.258087,40.804737 32.231613,40.396732 C42.569645,39.335228 52.833965,37.122509 63.159950,41.280838 C65.618515,42.270916 69.092392,40.739738 72.353683,40.336803 C73.100906,44.227283 74.079239,47.748981 70.423546,50.897610 C69.315590,51.851894 69.110268,54.236080 69.069145,55.978954 C68.916008,62.469639 69.003075,68.965996 69.000000,75.951370 M52.970707,48.060436 C48.696175,48.374966 44.425846,48.832806 40.145771,48.958183 C36.786827,49.056576 35.969326,50.842800 35.992569,53.777210 C36.057007,61.911591 36.005215,70.046883 36.000359,78.181816 C35.998722,80.920792 36.000103,83.659767 36.000103,86.003479 C44.734982,86.003479 52.521034,86.003479 60.998699,86.003479 C60.998699,76.764061 60.696228,67.331009 61.111752,57.929680 C61.362408,52.258411 59.384682,49.087887 52.970707,48.060436 z"></path>
            <path transform="scale(0.38)" class="foreground" fill="white" opacity="1.000000" stroke="none" d="M81.632889,66.127998 C80.577385,63.959084 79.181671,62.074459 79.118019,60.145870 C78.860138,52.332748 79.093025,44.504925 78.979271,36.684937 C78.920006,32.610783 80.672882,29.547348 84.523842,28.969578 C89.000183,28.297976 93.718941,28.204163 98.190506,28.847063 C102.207359,29.424585 104.135689,32.545322 104.032753,36.869244 C103.874367,43.522137 103.747528,50.194340 104.084259,56.834160 C104.321793,61.518204 102.970612,64.939590 99.462212,68.188858 C90.025444,76.928627 92.830841,77.075356 83.664307,68.162750 C83.067863,67.582832 82.490997,66.982773 81.632889,66.127998 M87.046463,46.443619 C91.632965,49.238457 94.961777,48.728470 96.975670,44.922432 C98.593025,41.865822 96.960419,37.844994 93.174248,36.823936 C91.584900,36.395317 89.235619,36.952110 87.862328,37.938633 C85.056099,39.954510 85.193512,42.939686 87.046463,46.443619 z"></path>
        </svg>
 *@    </div>
}
else
{
    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" class="@((MapState.DialogType == DialogTypeEnum.StoryMap ? "mobile-menu-icon-selected" : "mobile-menu-icon") + " " + (Border ? "mobile-menu-icon-border" : ""))" title="@(cl["storyMaps"] + "...")" onclick="@(() => ShowStoryMap())">
        <svg width="30" height="28" viewBox="5 7 20 20" role="img" xmlns="http://www.w3.org/2000/svg" aria-labelledby="personIconTitle" stroke-width="1" stroke-linecap="square" stroke-linejoin="miter" fill="none">
            <path transform="scale(0.23)" class="foreground" fill="white" opacity="1.000000" stroke="none" d="M69.000000,75.951370 C69.000000,79.724586 69.000000,83.006645 69.000000,86.411018 C81.537132,85.726959 94.131744,87.831398 101.927284,74.923615 C102.248085,75.236565 102.568893,75.549522 102.889702,75.862480 C102.889702,82.408501 103.058685,88.964119 102.687660,95.489044 C102.638199,96.358841 99.806084,97.811867 98.340454,97.722221 C93.736946,97.440628 89.119995,96.791763 84.601990,95.840134 C78.214043,94.494621 72.556374,95.239372 67.494553,99.747925 C66.565575,100.575363 63.776230,100.884399 63.116100,100.202591 C55.843529,92.691360 47.201584,95.576477 38.757366,96.571777 C26.809843,97.980019 26.902910,101.359154 26.983559,87.275848 C27.060799,73.788147 27.190437,60.295498 26.892204,46.813980 C26.798597,42.582535 28.258087,40.804737 32.231613,40.396732 C42.569645,39.335228 52.833965,37.122509 63.159950,41.280838 C65.618515,42.270916 69.092392,40.739738 72.353683,40.336803 C73.100906,44.227283 74.079239,47.748981 70.423546,50.897610 C69.315590,51.851894 69.110268,54.236080 69.069145,55.978954 C68.916008,62.469639 69.003075,68.965996 69.000000,75.951370 M52.970707,48.060436 C48.696175,48.374966 44.425846,48.832806 40.145771,48.958183 C36.786827,49.056576 35.969326,50.842800 35.992569,53.777210 C36.057007,61.911591 36.005215,70.046883 36.000359,78.181816 C35.998722,80.920792 36.000103,83.659767 36.000103,86.003479 C44.734982,86.003479 52.521034,86.003479 60.998699,86.003479 C60.998699,76.764061 60.696228,67.331009 61.111752,57.929680 C61.362408,52.258411 59.384682,49.087887 52.970707,48.060436 z"></path>
            <path transform="scale(0.23)" class="foreground" fill="white" opacity="1.000000" stroke="none" d="M81.632889,66.127998 C80.577385,63.959084 79.181671,62.074459 79.118019,60.145870 C78.860138,52.332748 79.093025,44.504925 78.979271,36.684937 C78.920006,32.610783 80.672882,29.547348 84.523842,28.969578 C89.000183,28.297976 93.718941,28.204163 98.190506,28.847063 C102.207359,29.424585 104.135689,32.545322 104.032753,36.869244 C103.874367,43.522137 103.747528,50.194340 104.084259,56.834160 C104.321793,61.518204 102.970612,64.939590 99.462212,68.188858 C90.025444,76.928627 92.830841,77.075356 83.664307,68.162750 C83.067863,67.582832 82.490997,66.982773 81.632889,66.127998 M87.046463,46.443619 C91.632965,49.238457 94.961777,48.728470 96.975670,44.922432 C98.593025,41.865822 96.960419,37.844994 93.174248,36.823936 C91.584900,36.395317 89.235619,36.952110 87.862328,37.938633 C85.056099,39.954510 85.193512,42.939686 87.046463,46.443619 z"></path>
        </svg>
    </RadzenStack>

}


@code {

    [Parameter]
    public bool MobileVersion { get; set; } = false;

    [Parameter]
    public bool Border { get; set; } = false;

    protected override void OnInitialized()
    {
        MapState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        MapState.OnChange -= StateHasChanged;
    }


    private async Task ShowStoryMap()
    {
        if (MapState.DialogType == DialogTypeEnum.StoryMap)
            await MapState.SetMapType(MapTypeEnum.Normal);

        var newDialogType = MapState.DialogType == DialogTypeEnum.StoryMap ? DialogTypeEnum.None : DialogTypeEnum.StoryMap;
        

        if (newDialogType == DialogTypeEnum.StoryMap && MapState.AllNarrativeMaps != null && MapState.AllNarrativeMaps.Count == 1)
        {
            MapState.DialogParameters.Id = MapState.AllNarrativeMaps.FirstOrDefault()?.Id;
            await StoryMapService.ShowNarrativeMap(MapState.DialogParameters.Id);
        }
        else
            await MapState.SetDialog(newDialogType);

        MapState.NotifyStateChanged();
    }
}