@inject IJSRuntime JS
@inject IHttpClientFactory clientFactory
@inject DialogService DialogService
@inject MapLogicService MapLogic
@inject MapStateService MapState
@inject IStringLocalizer<CommonResources> cl


@if (MapState.GetTimeline() != null && MapState.GetTimeline()?.Count() > 1)
{
    @if (!MobileVersion)
    {
        <div class="icon @(MapState.DialogType == DialogTypeEnum.Timeline ? "icon-selected" : "")" title="@(cl["timeline"] + "...")" onclick="@(() => ShowTimeline())">
            <svg width="47" height="49" viewBox="0 0 47 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Group 56">
                    <path id="Rectangle 23" d="M0 4.2564C0 2.04726 1.79086 0.256409 4 0.256409H47.1795V49.0085H4C1.79086 49.0085 0 47.2177 0 45.0085V4.2564Z" fill="#46463D" class="background"/>
                    <g id="calendar_month">
                        <mask id="mask0_1806_1103" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="7" y="8" width="33" height="33">
                            <rect id="Bounding box" x="7.29059" y="8.10257" width="32" height="32" fill="#D9D9D9" />
                        </mask>
                        <g mask="url(#mask0_1806_1103)">
                            <g id="calendar_month_2">
                                <path d="M13.9573 37.4359C13.2239 37.4359 12.5961 37.1748 12.0739 36.6526C11.5517 36.1303 11.2906 35.5026 11.2906 34.7692V16.1026C11.2906 15.3692 11.5517 14.7415 12.0739 14.2192C12.5961 13.697 13.2239 13.4359 13.9573 13.4359H15.2906V10.7692H17.9573V13.4359H28.6239V10.7692H31.2906V13.4359H32.6239C33.3573 13.4359 33.985 13.697 34.5073 14.2192C35.0295 14.7415 35.2906 15.3692 35.2906 16.1026V34.7692C35.2906 35.5026 35.0295 36.1303 34.5073 36.6526C33.985 37.1748 33.3573 37.4359 32.6239 37.4359H13.9573ZM13.9573 34.7692H32.6239V21.4359H13.9573V34.7692ZM13.9573 18.7692H32.6239V16.1026H13.9573V18.7692ZM23.2906 26.7692C22.9128 26.7692 22.5961 26.6415 22.3406 26.3859C22.085 26.1303 21.9573 25.8137 21.9573 25.4359C21.9573 25.0581 22.085 24.7415 22.3406 24.4859C22.5961 24.2303 22.9128 24.1026 23.2906 24.1026C23.6684 24.1026 23.985 24.2303 24.2406 24.4859C24.4961 24.7415 24.6239 25.0581 24.6239 25.4359C24.6239 25.8137 24.4961 26.1303 24.2406 26.3859C23.985 26.6415 23.6684 26.7692 23.2906 26.7692ZM17.9573 26.7692C17.5795 26.7692 17.2628 26.6415 17.0073 26.3859C16.7517 26.1303 16.6239 25.8137 16.6239 25.4359C16.6239 25.0581 16.7517 24.7415 17.0073 24.4859C17.2628 24.2303 17.5795 24.1026 17.9573 24.1026C18.335 24.1026 18.6517 24.2303 18.9073 24.4859C19.1628 24.7415 19.2906 25.0581 19.2906 25.4359C19.2906 25.8137 19.1628 26.1303 18.9073 26.3859C18.6517 26.6415 18.335 26.7692 17.9573 26.7692ZM28.6239 26.7692C28.2461 26.7692 27.9295 26.6415 27.6739 26.3859C27.4184 26.1303 27.2906 25.8137 27.2906 25.4359C27.2906 25.0581 27.4184 24.7415 27.6739 24.4859C27.9295 24.2303 28.2461 24.1026 28.6239 24.1026C29.0017 24.1026 29.3184 24.2303 29.5739 24.4859C29.8295 24.7415 29.9573 25.0581 29.9573 25.4359C29.9573 25.8137 29.8295 26.1303 29.5739 26.3859C29.3184 26.6415 29.0017 26.7692 28.6239 26.7692ZM23.2906 32.1026C22.9128 32.1026 22.5961 31.9748 22.3406 31.7192C22.085 31.4637 21.9573 31.147 21.9573 30.7692C21.9573 30.3915 22.085 30.0748 22.3406 29.8192C22.5961 29.5637 22.9128 29.4359 23.2906 29.4359C23.6684 29.4359 23.985 29.5637 24.2406 29.8192C24.4961 30.0748 24.6239 30.3915 24.6239 30.7692C24.6239 31.147 24.4961 31.4637 24.2406 31.7192C23.985 31.9748 23.6684 32.1026 23.2906 32.1026ZM17.9573 32.1026C17.5795 32.1026 17.2628 31.9748 17.0073 31.7192C16.7517 31.4637 16.6239 31.147 16.6239 30.7692C16.6239 30.3915 16.7517 30.0748 17.0073 29.8192C17.2628 29.5637 17.5795 29.4359 17.9573 29.4359C18.335 29.4359 18.6517 29.5637 18.9073 29.8192C19.1628 30.0748 19.2906 30.3915 19.2906 30.7692C19.2906 31.147 19.1628 31.4637 18.9073 31.7192C18.6517 31.9748 18.335 32.1026 17.9573 32.1026ZM28.6239 32.1026C28.2461 32.1026 27.9295 31.9748 27.6739 31.7192C27.4184 31.4637 27.2906 31.147 27.2906 30.7692C27.2906 30.3915 27.4184 30.0748 27.6739 29.8192C27.9295 29.5637 28.2461 29.4359 28.6239 29.4359C29.0017 29.4359 29.3184 29.5637 29.5739 29.8192C29.8295 30.0748 29.9573 30.3915 29.9573 30.7692C29.9573 31.147 29.8295 31.4637 29.5739 31.7192C29.3184 31.9748 29.0017 32.1026 28.6239 32.1026Z" fill="white" class="foreground"/>
                                <path d="M13.9573 37.4359C13.2239 37.4359 12.5961 37.1748 12.0739 36.6526C11.5517 36.1303 11.2906 35.5026 11.2906 34.7692V16.1026C11.2906 15.3692 11.5517 14.7415 12.0739 14.2192C12.5961 13.697 13.2239 13.4359 13.9573 13.4359H15.2906V10.7692H17.9573V13.4359H28.6239V10.7692H31.2906V13.4359H32.6239C33.3573 13.4359 33.985 13.697 34.5073 14.2192C35.0295 14.7415 35.2906 15.3692 35.2906 16.1026V34.7692C35.2906 35.5026 35.0295 36.1303 34.5073 36.6526C33.985 37.1748 33.3573 37.4359 32.6239 37.4359H13.9573ZM13.9573 34.7692H32.6239V21.4359H13.9573V34.7692ZM13.9573 18.7692H32.6239V16.1026H13.9573V18.7692ZM23.2906 26.7692C22.9128 26.7692 22.5961 26.6415 22.3406 26.3859C22.085 26.1303 21.9573 25.8137 21.9573 25.4359C21.9573 25.0581 22.085 24.7415 22.3406 24.4859C22.5961 24.2303 22.9128 24.1026 23.2906 24.1026C23.6684 24.1026 23.985 24.2303 24.2406 24.4859C24.4961 24.7415 24.6239 25.0581 24.6239 25.4359C24.6239 25.8137 24.4961 26.1303 24.2406 26.3859C23.985 26.6415 23.6684 26.7692 23.2906 26.7692ZM17.9573 26.7692C17.5795 26.7692 17.2628 26.6415 17.0073 26.3859C16.7517 26.1303 16.6239 25.8137 16.6239 25.4359C16.6239 25.0581 16.7517 24.7415 17.0073 24.4859C17.2628 24.2303 17.5795 24.1026 17.9573 24.1026C18.335 24.1026 18.6517 24.2303 18.9073 24.4859C19.1628 24.7415 19.2906 25.0581 19.2906 25.4359C19.2906 25.8137 19.1628 26.1303 18.9073 26.3859C18.6517 26.6415 18.335 26.7692 17.9573 26.7692ZM28.6239 26.7692C28.2461 26.7692 27.9295 26.6415 27.6739 26.3859C27.4184 26.1303 27.2906 25.8137 27.2906 25.4359C27.2906 25.0581 27.4184 24.7415 27.6739 24.4859C27.9295 24.2303 28.2461 24.1026 28.6239 24.1026C29.0017 24.1026 29.3184 24.2303 29.5739 24.4859C29.8295 24.7415 29.9573 25.0581 29.9573 25.4359C29.9573 25.8137 29.8295 26.1303 29.5739 26.3859C29.3184 26.6415 29.0017 26.7692 28.6239 26.7692ZM23.2906 32.1026C22.9128 32.1026 22.5961 31.9748 22.3406 31.7192C22.085 31.4637 21.9573 31.147 21.9573 30.7692C21.9573 30.3915 22.085 30.0748 22.3406 29.8192C22.5961 29.5637 22.9128 29.4359 23.2906 29.4359C23.6684 29.4359 23.985 29.5637 24.2406 29.8192C24.4961 30.0748 24.6239 30.3915 24.6239 30.7692C24.6239 31.147 24.4961 31.4637 24.2406 31.7192C23.985 31.9748 23.6684 32.1026 23.2906 32.1026ZM17.9573 32.1026C17.5795 32.1026 17.2628 31.9748 17.0073 31.7192C16.7517 31.4637 16.6239 31.147 16.6239 30.7692C16.6239 30.3915 16.7517 30.0748 17.0073 29.8192C17.2628 29.5637 17.5795 29.4359 17.9573 29.4359C18.335 29.4359 18.6517 29.5637 18.9073 29.8192C19.1628 30.0748 19.2906 30.3915 19.2906 30.7692C19.2906 31.147 19.1628 31.4637 18.9073 31.7192C18.6517 31.9748 18.335 32.1026 17.9573 32.1026ZM28.6239 32.1026C28.2461 32.1026 27.9295 31.9748 27.6739 31.7192C27.4184 31.4637 27.2906 31.147 27.2906 30.7692C27.2906 30.3915 27.4184 30.0748 27.6739 29.8192C27.9295 29.5637 28.2461 29.4359 28.6239 29.4359C29.0017 29.4359 29.3184 29.5637 29.5739 29.8192C29.8295 30.0748 29.9573 30.3915 29.9573 30.7692C29.9573 31.147 29.8295 31.4637 29.5739 31.7192C29.3184 31.9748 29.0017 32.1026 28.6239 32.1026Z" fill="#D5D2B8" fill-opacity="0.2" />
                            </g>
                        </g>
                    </g>
                </g>
            </svg>

        </div>
    }
    else
    {
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" class="@((MapState.DialogType == DialogTypeEnum.Timeline ? "mobile-menu-icon-selected" : "mobile-menu-icon") + " " + (Border ? "mobile-menu-icon-border" : ""))" title="@(cl["timeline"] + "...")" onclick="@(() => ShowTimeline())">
            <svg width="25" height="28" viewBox="0 0 25 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.95726 27.4359C2.22392 27.4359 1.59614 27.1748 1.07392 26.6526C0.5517 26.1303 0.290588 25.5026 0.290588 24.7692V6.10257C0.290588 5.36923 0.5517 4.74146 1.07392 4.21923C1.59614 3.69701 2.22392 3.4359 2.95726 3.4359H4.29059V0.769234H6.95726V3.4359H17.6239V0.769234H20.2906V3.4359H21.6239C22.3573 3.4359 22.985 3.69701 23.5073 4.21923C24.0295 4.74146 24.2906 5.36923 24.2906 6.10257V24.7692C24.2906 25.5026 24.0295 26.1303 23.5073 26.6526C22.985 27.1748 22.3573 27.4359 21.6239 27.4359H2.95726ZM2.95726 24.7692H21.6239V11.4359H2.95726V24.7692ZM2.95726 8.76923H21.6239V6.10257H2.95726V8.76923ZM12.2906 16.7692C11.9128 16.7692 11.5961 16.6415 11.3406 16.3859C11.085 16.1303 10.9573 15.8137 10.9573 15.4359C10.9573 15.0581 11.085 14.7415 11.3406 14.4859C11.5961 14.2303 11.9128 14.1026 12.2906 14.1026C12.6684 14.1026 12.985 14.2303 13.2406 14.4859C13.4961 14.7415 13.6239 15.0581 13.6239 15.4359C13.6239 15.8137 13.4961 16.1303 13.2406 16.3859C12.985 16.6415 12.6684 16.7692 12.2906 16.7692ZM6.95726 16.7692C6.57948 16.7692 6.26281 16.6415 6.00726 16.3859C5.7517 16.1303 5.62392 15.8137 5.62392 15.4359C5.62392 15.0581 5.7517 14.7415 6.00726 14.4859C6.26281 14.2303 6.57948 14.1026 6.95726 14.1026C7.33503 14.1026 7.6517 14.2303 7.90726 14.4859C8.16281 14.7415 8.29059 15.0581 8.29059 15.4359C8.29059 15.8137 8.16281 16.1303 7.90726 16.3859C7.6517 16.6415 7.33503 16.7692 6.95726 16.7692ZM17.6239 16.7692C17.2461 16.7692 16.9295 16.6415 16.6739 16.3859C16.4184 16.1303 16.2906 15.8137 16.2906 15.4359C16.2906 15.0581 16.4184 14.7415 16.6739 14.4859C16.9295 14.2303 17.2461 14.1026 17.6239 14.1026C18.0017 14.1026 18.3184 14.2303 18.5739 14.4859C18.8295 14.7415 18.9573 15.0581 18.9573 15.4359C18.9573 15.8137 18.8295 16.1303 18.5739 16.3859C18.3184 16.6415 18.0017 16.7692 17.6239 16.7692ZM12.2906 22.1026C11.9128 22.1026 11.5961 21.9748 11.3406 21.7192C11.085 21.4637 10.9573 21.147 10.9573 20.7692C10.9573 20.3915 11.085 20.0748 11.3406 19.8192C11.5961 19.5637 11.9128 19.4359 12.2906 19.4359C12.6684 19.4359 12.985 19.5637 13.2406 19.8192C13.4961 20.0748 13.6239 20.3915 13.6239 20.7692C13.6239 21.147 13.4961 21.4637 13.2406 21.7192C12.985 21.9748 12.6684 22.1026 12.2906 22.1026ZM6.95726 22.1026C6.57948 22.1026 6.26281 21.9748 6.00726 21.7192C5.7517 21.4637 5.62392 21.147 5.62392 20.7692C5.62392 20.3915 5.7517 20.0748 6.00726 19.8192C6.26281 19.5637 6.57948 19.4359 6.95726 19.4359C7.33503 19.4359 7.6517 19.5637 7.90726 19.8192C8.16281 20.0748 8.29059 20.3915 8.29059 20.7692C8.29059 21.147 8.16281 21.4637 7.90726 21.7192C7.6517 21.9748 7.33503 22.1026 6.95726 22.1026ZM17.6239 22.1026C17.2461 22.1026 16.9295 21.9748 16.6739 21.7192C16.4184 21.4637 16.2906 21.147 16.2906 20.7692C16.2906 20.3915 16.4184 20.0748 16.6739 19.8192C16.9295 19.5637 17.2461 19.4359 17.6239 19.4359C18.0017 19.4359 18.3184 19.5637 18.5739 19.8192C18.8295 20.0748 18.9573 20.3915 18.9573 20.7692C18.9573 21.147 18.8295 21.4637 18.5739 21.7192C18.3184 21.9748 18.0017 22.1026 17.6239 22.1026Z" fill="white" />
                <path d="M2.95726 27.4359C2.22392 27.4359 1.59614 27.1748 1.07392 26.6526C0.5517 26.1303 0.290588 25.5026 0.290588 24.7692V6.10257C0.290588 5.36923 0.5517 4.74146 1.07392 4.21923C1.59614 3.69701 2.22392 3.4359 2.95726 3.4359H4.29059V0.769234H6.95726V3.4359H17.6239V0.769234H20.2906V3.4359H21.6239C22.3573 3.4359 22.985 3.69701 23.5073 4.21923C24.0295 4.74146 24.2906 5.36923 24.2906 6.10257V24.7692C24.2906 25.5026 24.0295 26.1303 23.5073 26.6526C22.985 27.1748 22.3573 27.4359 21.6239 27.4359H2.95726ZM2.95726 24.7692H21.6239V11.4359H2.95726V24.7692ZM2.95726 8.76923H21.6239V6.10257H2.95726V8.76923ZM12.2906 16.7692C11.9128 16.7692 11.5961 16.6415 11.3406 16.3859C11.085 16.1303 10.9573 15.8137 10.9573 15.4359C10.9573 15.0581 11.085 14.7415 11.3406 14.4859C11.5961 14.2303 11.9128 14.1026 12.2906 14.1026C12.6684 14.1026 12.985 14.2303 13.2406 14.4859C13.4961 14.7415 13.6239 15.0581 13.6239 15.4359C13.6239 15.8137 13.4961 16.1303 13.2406 16.3859C12.985 16.6415 12.6684 16.7692 12.2906 16.7692ZM6.95726 16.7692C6.57948 16.7692 6.26281 16.6415 6.00726 16.3859C5.7517 16.1303 5.62392 15.8137 5.62392 15.4359C5.62392 15.0581 5.7517 14.7415 6.00726 14.4859C6.26281 14.2303 6.57948 14.1026 6.95726 14.1026C7.33503 14.1026 7.6517 14.2303 7.90726 14.4859C8.16281 14.7415 8.29059 15.0581 8.29059 15.4359C8.29059 15.8137 8.16281 16.1303 7.90726 16.3859C7.6517 16.6415 7.33503 16.7692 6.95726 16.7692ZM17.6239 16.7692C17.2461 16.7692 16.9295 16.6415 16.6739 16.3859C16.4184 16.1303 16.2906 15.8137 16.2906 15.4359C16.2906 15.0581 16.4184 14.7415 16.6739 14.4859C16.9295 14.2303 17.2461 14.1026 17.6239 14.1026C18.0017 14.1026 18.3184 14.2303 18.5739 14.4859C18.8295 14.7415 18.9573 15.0581 18.9573 15.4359C18.9573 15.8137 18.8295 16.1303 18.5739 16.3859C18.3184 16.6415 18.0017 16.7692 17.6239 16.7692ZM12.2906 22.1026C11.9128 22.1026 11.5961 21.9748 11.3406 21.7192C11.085 21.4637 10.9573 21.147 10.9573 20.7692C10.9573 20.3915 11.085 20.0748 11.3406 19.8192C11.5961 19.5637 11.9128 19.4359 12.2906 19.4359C12.6684 19.4359 12.985 19.5637 13.2406 19.8192C13.4961 20.0748 13.6239 20.3915 13.6239 20.7692C13.6239 21.147 13.4961 21.4637 13.2406 21.7192C12.985 21.9748 12.6684 22.1026 12.2906 22.1026ZM6.95726 22.1026C6.57948 22.1026 6.26281 21.9748 6.00726 21.7192C5.7517 21.4637 5.62392 21.147 5.62392 20.7692C5.62392 20.3915 5.7517 20.0748 6.00726 19.8192C6.26281 19.5637 6.57948 19.4359 6.95726 19.4359C7.33503 19.4359 7.6517 19.5637 7.90726 19.8192C8.16281 20.0748 8.29059 20.3915 8.29059 20.7692C8.29059 21.147 8.16281 21.4637 7.90726 21.7192C7.6517 21.9748 7.33503 22.1026 6.95726 22.1026ZM17.6239 22.1026C17.2461 22.1026 16.9295 21.9748 16.6739 21.7192C16.4184 21.4637 16.2906 21.147 16.2906 20.7692C16.2906 20.3915 16.4184 20.0748 16.6739 19.8192C16.9295 19.5637 17.2461 19.4359 17.6239 19.4359C18.0017 19.4359 18.3184 19.5637 18.5739 19.8192C18.8295 20.0748 18.9573 20.3915 18.9573 20.7692C18.9573 21.147 18.8295 21.4637 18.5739 21.7192C18.3184 21.9748 18.0017 22.1026 17.6239 22.1026Z" fill="#D5D2B8" fill-opacity="0.2" />
            </svg>
        </RadzenStack>

    }
}

@code {
    [Parameter]
    public bool MobileVersion { get; set; } = false;

    [Parameter]
    public bool Border { get; set; } = false;

    List<TimelinePointModel>? timeline;

    protected override void OnInitialized()
    {
        MapState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        MapState.OnChange -= StateHasChanged;
    }

    private async Task ShowTimeline()
    {
        if (MapState.DialogType == DialogTypeEnum.Timeline)
        {
            MapState.SetDialogType(DialogTypeEnum.None);
            DialogService.CloseSide();
            await JS.InvokeVoidAsync("mapAPI.unselectAllSelectedPoints");

        }
        else
        {
            MapState.SetDialogType(DialogTypeEnum.Timeline);
            await DialogService.OpenSideAsync<TimelineDialog>(cl["timeline"], options: await MapState.GetDialogOptions());
        }
        MapState.NotifyStateChanged();

    }

}
