@inject IJSRuntime JS
@inject IHttpClientFactory clientFactory
@inject DialogService DialogService
@inject MapStateService MapState
@inject IStringLocalizer<CommonResources> cl

@if (!(MapState.IsMobileView && MapState.MapType != MapTypeEnum.Normal) && !string.IsNullOrEmpty(style))
{
    <div style="@style">
        <RadzenRow Gap="5" RowGap="5px" JustifyContent="justifyContent">
            <RadzenColumn Size="size">
                <div class="icon" title="@((myLocationIsVisible ? cl["showMyLocation"] : cl["myLocationOn"]) + "...")" onclick="@(() => OnLocationClick())">
                    <svg width="36" height="37" viewBox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="Group 62">
                            <path id="Rectangle 23" d="M0 4C0 1.79086 1.79086 0 4 0H31.8064C34.0156 0 35.8064 1.79086 35.8064 4V33C35.8064 35.2091 34.0156 37 31.8064 37H4.00001C1.79087 37 0 35.2091 0 33V4Z" fill="#46463D" class="background"/>
                            <g id="location_searching">
                                <mask id="mask0_1968_1065" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="7" y="7" width="22" height="22">
                                    <rect id="Bounding box" x="7.58936" y="7.58942" width="21.0641" height="21.0641" fill="#D9D9D9" />
                                </mask>
                                <g mask="url(#mask0_1968_1065)">
                                    <path id="location_searching_2" d="M17.2438 27.7759V26.0205C15.4153 25.8157 13.8465 25.0588 12.5373 23.7496C11.2281 22.4404 10.4711 20.8715 10.2663 19.043H8.51099V17.2877H10.2663C10.4711 15.4592 11.2281 13.8904 12.5373 12.5812C13.8465 11.272 15.4153 10.515 17.2438 10.3102V8.55487H18.9992V10.3102C20.8276 10.515 22.3965 11.272 23.7057 12.5812C25.0149 13.8904 25.7719 15.4592 25.9767 17.2877H27.732V19.043H25.9767C25.7719 20.8715 25.0149 22.4404 23.7057 23.7496C22.3965 25.0588 20.8276 25.8157 18.9992 26.0205V27.7759H17.2438ZM18.1215 24.3091C19.8183 24.3091 21.2665 23.7093 22.466 22.5099C23.6655 21.3104 24.2652 19.8622 24.2652 18.1654C24.2652 16.4685 23.6655 15.0204 22.466 13.8209C21.2665 12.6214 19.8183 12.0217 18.1215 12.0217C16.4247 12.0217 14.9765 12.6214 13.777 13.8209C12.5775 15.0204 11.9778 16.4685 11.9778 18.1654C11.9778 19.8622 12.5775 21.3104 13.777 22.5099C14.9765 23.7093 16.4247 24.3091 18.1215 24.3091Z" fill="#D5D2B8" class="foreground" />
                                </g>
                            </g>
                        </g>
                    </svg>

                </div>
            </RadzenColumn>
            <RadzenColumn Size="size">
                <div class="icon" title="@(cl["zoomIn"] + " ...")" onclick="@(() => ZoomIn())">
                    <svg width="36" height="37" viewBox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="Group 61">
                            <path id="Rectangle 24" d="M0 4C0 1.79086 1.79086 0 4 0H31.8064C34.0156 0 35.8064 1.79086 35.8064 4V33C35.8064 35.2091 34.0156 37 31.8064 37H4.00001C1.79087 37 0 35.2091 0 33V4Z" fill="#46463D" class="background" />
                            <g id="add_circle">
                                <mask id="mask0_1968_1070" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="7" y="7" width="22" height="22">
                                    <rect id="Bounding box" x="7.58936" y="7.58942" width="21.0641" height="21.0641" fill="#D9D9D9" />
                                </mask>
                                <g mask="url(#mask0_1968_1070)">
                                    <path id="add_circle_2" d="M17.2438 22.5098H18.9991V18.9991H22.5098V17.2438H18.9991V13.7331H17.2438V17.2438H13.7331V18.9991H17.2438V22.5098ZM18.1214 26.8982C16.9073 26.8982 15.7664 26.6678 14.6985 26.207C13.6307 25.7462 12.7018 25.1209 11.9119 24.331C11.122 23.5411 10.4967 22.6122 10.0359 21.5444C9.57512 20.4765 9.34473 19.3356 9.34473 18.1214C9.34473 16.9073 9.57512 15.7664 10.0359 14.6985C10.4967 13.6307 11.122 12.7018 11.9119 11.9119C12.7018 11.122 13.6307 10.4967 14.6985 10.0359C15.7664 9.57512 16.9073 9.34473 18.1214 9.34473C19.3356 9.34473 20.4765 9.57512 21.5444 10.0359C22.6122 10.4967 23.5411 11.122 24.331 11.9119C25.1209 12.7018 25.7462 13.6307 26.207 14.6985C26.6678 15.7664 26.8982 16.9073 26.8982 18.1214C26.8982 19.3356 26.6678 20.4765 26.207 21.5444C25.7462 22.6122 25.1209 23.5411 24.331 24.331C23.5411 25.1209 22.6122 25.7462 21.5444 26.207C20.4765 26.6678 19.3356 26.8982 18.1214 26.8982ZM18.1214 25.1428C20.0816 25.1428 21.7418 24.4626 23.1022 23.1022C24.4626 21.7418 25.1428 20.0816 25.1428 18.1214C25.1428 16.1613 24.4626 14.501 23.1022 13.1407C21.7418 11.7803 20.0816 11.1001 18.1214 11.1001C16.1613 11.1001 14.501 11.7803 13.1407 13.1407C11.7803 14.501 11.1001 16.1613 11.1001 18.1214C11.1001 20.0816 11.7803 21.7418 13.1407 23.1022C14.501 24.4626 16.1613 25.1428 18.1214 25.1428Z" fill="#D5D2B8" class="foreground" />
                                </g>
                            </g>
                        </g>
                    </svg>

                </div>
            </RadzenColumn>
            <RadzenColumn Size="size">
                <div class="icon" title="@(cl["zoomOut"] + "...")" onclick="@(() => ZoomOut())">
                    <svg width="36" height="37" viewBox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="Group 60">
                            <path id="Rectangle 25" d="M0 4C0 1.79086 1.79086 0 4 0H31.8064C34.0156 0 35.8064 1.79086 35.8064 4V33C35.8064 35.2091 34.0156 37 31.8064 37H4.00001C1.79087 37 0 35.2091 0 33V4Z" fill="#46463D" class="background" />
                            <g id="add_circle">
                                <mask id="mask0_1968_1075" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="7" y="7" width="22" height="22">
                                    <rect id="Bounding box" x="7.58936" y="7.58942" width="21.0641" height="21.0641" fill="#D9D9D9" />
                                </mask>
                                <g mask="url(#mask0_1968_1075)">
                                    <g id="Group 59">
                                        <path id="Union" fill-rule="evenodd" clip-rule="evenodd" d="M14.6985 26.207C15.7664 26.6678 16.9073 26.8982 18.1214 26.8982C19.3356 26.8982 20.4765 26.6678 21.5444 26.207C22.6122 25.7462 23.5411 25.1209 24.331 24.331C25.1209 23.5411 25.7462 22.6122 26.207 21.5444C26.6678 20.4765 26.8982 19.3356 26.8982 18.1214C26.8982 16.9073 26.6678 15.7664 26.207 14.6985C25.7462 13.6307 25.1209 12.7018 24.331 11.9119C23.5411 11.122 22.6122 10.4967 21.5444 10.0359C20.4765 9.57512 19.3356 9.34473 18.1214 9.34473C16.9073 9.34473 15.7664 9.57512 14.6985 10.0359C13.6307 10.4967 12.7018 11.122 11.9119 11.9119C11.122 12.7018 10.4967 13.6307 10.0359 14.6985C9.57512 15.7664 9.34473 16.9073 9.34473 18.1214C9.34473 19.3356 9.57512 20.4765 10.0359 21.5444C10.4967 22.6122 11.122 23.5411 11.9119 24.331C12.7018 25.1209 13.6307 25.7462 14.6985 26.207ZM23.1022 23.1022C21.7418 24.4626 20.0816 25.1428 18.1214 25.1428C16.1613 25.1428 14.501 24.4626 13.1407 23.1022C11.7803 21.7418 11.1001 20.0816 11.1001 18.1214C11.1001 16.1613 11.7803 14.501 13.1407 13.1407C14.501 11.7803 16.1613 11.1001 18.1214 11.1001C20.0816 11.1001 21.7418 11.7803 23.1022 13.1407C24.4626 14.501 25.1428 16.1613 25.1428 18.1214C25.1428 20.0816 24.4626 21.7418 23.1022 23.1022ZM22.6819 17.2833H13.5747V18.8012H22.6819V17.2833Z" fill="#D5D2B8" class="foreground" />
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
            </RadzenColumn>
        </RadzenRow>
    </div>

}



@code {
    private bool myLocationIsVisible = false;

    public string style;
    public string gap;
    public int size;
    public JustifyContent justifyContent;
    public bool? isMobileView;


    protected override void OnAfterRender(bool firstRender)
    {
        size = MapState.IsMobileView ? 4 : 12;
        isMobileView = MapState.IsMobileView;
        justifyContent = MapState.IsMobileView ? JustifyContent.SpaceAround : JustifyContent.End;
        gap = MapState.IsMobileView ? "5" : "0";
        style = GetStyle();
    }

    protected override void OnInitialized()
    {
        style = GetStyle();
        MapState.OnChange += OnMyChangeHandler;
    }

    public void Dispose()
    {
        MapState.OnChange -= OnMyChangeHandler;
    }

    private async void OnMyChangeHandler()
    {
        await InvokeAsync(() =>
        {
            style = GetStyle();
            StateHasChanged();
        });
    }

    private async Task OnLocationClick()
    {
        if (!myLocationIsVisible)
        {
            myLocationIsVisible = true;
            await JS.InvokeVoidAsync("mapAPI.turnOnLocationTracking");
        }
        else
        {
            await JS.InvokeVoidAsync("mapAPI.goToMyLocation");
        }
    }

    private async Task ZoomIn()
    {
        await JS.InvokeVoidAsync("mapAPI.zoomIn");
    }

    private async Task ZoomOut()
    {
        await JS.InvokeVoidAsync("mapAPI.zoomOut");
    }

    public string GetStyle()
    {
        if (MapState.IsMobileView)
            return $"position:absolute;top:54px;left:10px;z-index:1002;";
        return $"position:absolute;bottom:34px;left:15px;z-index:1002;width:0px";
    }

}
