@inject IStringLocalizer<CommonResources> cl
@inject MapStateService MapState
@inject StoryMapService StoryMapService
@inject IJSRuntime JSRuntime


<div style="padding:2.5rem 2.5rem 0 2.5rem;">

    @if (MapState.VictimLongInfo != null)
    {

        <RadzenRow class="rz-mb-6" AlignItems="AlignItems.End" JustifyContent="JustifyContent.SpaceBetween">
            <RadzenColumn Size="9">
                <h1>@MapState.VictimLongInfo.Label</h1>
            </RadzenColumn>
            @if (MapState.VictimLongInfo.NarrativeMapId != null)
            {
                <RadzenColumn Size="3" Style="text-align: right;">
                    <img 
                        style="width: 30px; cursor: pointer;" 
                        title="@cl.GetString("viewStoryMap")..." 
                        onclick="@(() => StoryMapService.ShowNarrativeMap(MapState.VictimLongInfo.NarrativeMapId))" 
                        src="images/storymap-icon.png" />
                </RadzenColumn>
            }
        </RadzenRow>


        <table class="victim">

            @if (MapState.VictimLongInfo.Places != null)
            {

                @* maiden name *@
                @if (!string.IsNullOrEmpty(MapState.VictimLongInfo.Maidenname))
                {
                    <tr>
                        <td>
                            @cl["maidenname"].Value.FirstLetterToUpper()
                        </td>
                        <td>
                            @MapState.VictimLongInfo.Maidenname
                        </td>
                    </tr>
                }
                @* titul *@
                @if (!string.IsNullOrEmpty(MapState.VictimLongInfo.Title))
                {
                    <tr>
                        <td>
                            @cl["personTitle"].Value.FirstLetterToUpper()
                        </td>
                        <td>
                            @MapState.VictimLongInfo.Title
                        </td>
                    </tr>
                }
                @* datum narození *@
                @if (MapState.VictimLongInfo.BirthDate != null || !string.IsNullOrEmpty(MapState.VictimLongInfo.BirthDateText))
                {
                    <tr>
                        <td>
                            @cl["birthDate"].Value.FirstLetterToUpper()
                        </td>
                        <td>
                            @(MapState.VictimLongInfo.BirthDateText ?? MapState.VictimLongInfo.BirthDate?.ToString("d. M. yyyy"))
                        </td>
                    </tr>
                }
                @* místo narození *@
                <VictimPlace Type="22" />

                @* bydliště k 13. květnu 1939 *@
                <VictimPlace Type="24" ShowDates="false" />

                @* poslední bydliště před deportací *@
                <VictimPlace Type="26" ShowDates="false" />

                @* poslední bydliště *@
                <VictimPlace Type="27" />

                @* další bydliště *@
                <VictimPlace Type="36" ResourceNameType="otherResidence" />

                @* deportace *@
                @if (MapState.VictimLongInfo.Transports != null && MapState.VictimLongInfo.Transports.Count() > 0)
                {
                    <tr>
                        <td>
                            @cl["deportation"].Value.FirstLetterToUpper()

                        </td>
                        <td>
                            <ul style="margin:0;list-style-type:none;padding:0">
                                @foreach (var transport in MapState.VictimLongInfo.Transports.OrderBy(a => a.Id))
                                {
                                    <li>
                                        @transport.Code
                                        (@transport.Date?.ToString("d. M. yyyy"),
                                        @(CultureInfo.CurrentCulture.Name == "en-US" ? transport.FromEn : transport.FromCs)
                                        →
                                        @(CultureInfo.CurrentCulture.Name == "en-US" ? transport.ToEn : transport.ToCs))
                                    </li>
                                }
                            </ul>

                        </td>
                    </tr>

                }
                @* místo věznění *@
                <VictimPlace Type="28" />

                @if (!string.IsNullOrEmpty(MapState.VictimLongInfo.FateCs))
                {
                    @* osud úmrtí *@
                    <tr>
                        <td>
                            @cl["fate"].Value.FirstLetterToUpper()
                        </td>
                        <td>
                            @(CultureInfo.CurrentCulture.Name == "en-US" ? MapState.VictimLongInfo.FateEn : MapState.VictimLongInfo.FateCs)
                        </td>
                    </tr>
                }

                @* místo osvobození *@
                <VictimPlace Type="29" />

                @* datum úmrtí *@
                @if (MapState.VictimLongInfo.DeathDate != null || !string.IsNullOrEmpty(MapState.VictimLongInfo.DeathDateText))
                {
                    <tr>
                        <td>
                            @cl["deathDate"].Value.FirstLetterToUpper()
                        </td>
                        <td>
                            @(MapState.VictimLongInfo.DeathDateText ?? MapState.VictimLongInfo.DeathDate?.ToString("d. M. yyyy"))
                        </td>
                    </tr>
                }

                @* místo úmrtí *@
                <VictimPlace Type="23" />

                @* další informace DescriptionCs a DescriptionEn *@
                var otherInfo = CultureInfo.CurrentCulture.Name == "en-US" ? MapState.VictimLongInfo.DescriptionEn : MapState.VictimLongInfo.DescriptionCs;
                @if (!string.IsNullOrEmpty(otherInfo))
                {
                    <tr>
                        <td>
                            @cl["otherInfo"].Value.FirstLetterToUpper()
                        </td>
                        <td>
                            @if (otherInfo.Length > 200)
                            {
                                @if (!ShowMoreOtherInfo)
                                {
                                    <span>
                                        @((MarkupString)otherInfo.AsSpan(0, 200).ToString().Nl2Br())...
                                    </span>
                                    <span>
                                        <a style="cursor:pointer" href="#" @onclick="@(() => ShowMoreOtherInfo = !ShowMoreOtherInfo)">@cl["more"]</a>
                                    </span>
                                }
                                else
                                {
                                    <span>
                                        @((MarkupString)otherInfo.Nl2Br())
                                    </span>
                                    <span>
                                        <a style="cursor:pointer" href="#" @onclick="@(() => ShowMoreOtherInfo = !ShowMoreOtherInfo)">@cl["less"]</a>
                                    </span>
                                }
                            }
                            else
                            {
                                <span>
                                    @((MarkupString)otherInfo.Nl2Br())
                                </span>
                            }
                        </td>
                    </tr>

                }
            }
        </table>

        @if (MapState.VictimLongInfo.RelatedPersons != null && MapState.VictimLongInfo.RelatedPersons.Count() > 0)
        {
            // „Nejbližší rodina“, omezeno na vztahy „manžel“ (id 5), „manželka“ (id 6), „otec“ (id 9), „matka“ (id 7), „syn“ (id 13), „dcera (id 3)“, „bratr“ (id 2), „sestra (id 10)“.
            if (MapState.VictimLongInfo.RelatedPersons.Any(a => new long?[] { 2, 3, 5, 6, 7, 9, 10, 13 }.Contains(a.RelationshipToPersonType)))
            {
                <h3 class="rz-mt-8">@cl["relatedClosestFamily"]</h3>
                <RadzenRow class="rz-mt-4" Gap="1rem" RowGap="2rem" JustifyContent=JustifyContent.Start>
                    @foreach (var relatedPerson in MapState.VictimLongInfo.RelatedPersons.Where(a => new long?[] { 2, 3, 5, 6, 7, 9, 10, 13 }.Contains(a.RelationshipToPersonType)) ?? [])
                    {
                        <VictimShortInfo Victim="@relatedPerson" Small="true" Relative="true" />
                    }
                </RadzenRow>

            }


            // ostatní příbuzní
            if (MapState.VictimLongInfo.RelatedPersons.Any(a => !new long?[] { 2, 3, 5, 6, 7, 9, 10, 13 }.Contains(a.RelationshipToPersonType)))
            {
                <div class="rz-mt-4" style="cursor:pointer;" onclick="@(() => ToggleRelatives())">
                    <h4>
                        @cl["relatedOtherRelatives"]
                        &nbsp;&nbsp;
                        @if (!RelativesOpen)
                        {
                            <RadzenImage Style="height:17px;cursor:pointer" Path="images/arrow-right.png" title="@(cl["showOtherRelatives"] + "...")"></RadzenImage>
                        }
                        else
                        {
                            <RadzenImage Style="width:17px;cursor:pointer" Path="images/arrow-down.png" title="@(cl["hideOtherRelatives"] + "...")"></RadzenImage>
                        }
                    </h4>
                </div>

                @if (RelativesOpen)
                {
                    <RadzenRow class="rz-mt-4" Gap="1rem" RowGap="2rem" JustifyContent=JustifyContent.Start>
                        @foreach (var relatedPerson in MapState.VictimLongInfo.RelatedPersons.Where(a => !new long?[] { 2, 3, 5, 6, 7, 9, 10, 13 }.Contains(a.RelationshipToPersonType)) ?? [])
                        {
                            <VictimShortInfo Victim="@relatedPerson" Small="true" Relative="true" />
                        }
                    </RadzenRow>
                }
            }
        }

        <DocumentGallery Documents="MapState.VictimLongInfo.Documents" />

    }
</div>

@code {

    private bool RelativesOpen = false;

    private bool ShowMoreOtherInfo = false;

    protected override void OnInitialized()
    {
        MapState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        MapState.OnChange -= StateHasChanged;
    }

    protected override void OnAfterRender(bool first)
    {

        if (MapState.DialogParameters?.Id == null)
            return;

        if (first)
        {
            StateHasChanged();
        }
    }

    private void ToggleRelatives()
    {
        RelativesOpen = !RelativesOpen;
        StateHasChanged();
    }
}
