@inject IStringLocalizer<CommonResources> cl
@inject MapStateService MapState
@inject MapLogicService MapLogic

<DialogButtons />


<div style="padding:2.5rem 1.5rem 0 1.5rem;">
    @if (Victim != null)
    {
        <RadzenColumn Size="MapState.IsMobileView ? 6 : 4">
            <RadzenCard class="victim-card rz-mb-4">
                <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Start" Gap="5px">
                    <h4>@Victim.Label</h4>

                    <ul>
                    @foreach (var place in Victim.Places ?? [])
                    {
                        <li>
                            @place.Cs | @place.TypeCs
                        </li>
                    }
                    </ul>

                    @*             <RadzenImage class="victim-photo" Path="@(!string.IsNullOrEmpty(Victim.Photo) && Victim.Photo != "NULL" && Victim.Photo != "null" ? Victim.Photo : "images/face.png")" />
                <div class="victim-label"><small>@((MarkupString)Victim.GetLabelForPicture())</small></div>
                *@
                </RadzenStack>
            </RadzenCard>
        </RadzenColumn>
    }
</div>

@code {
    [Parameter]
    public long? Id { get; set; }

    private VictimLongInfo? Victim { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (Id == null)
            return;

        Victim = await MapLogic.GetVictimLongInfo(Id);
    }
}
