@inject IStringLocalizer<CommonResources> cl
@inject MapLogicService MapLogic;

@if (statistics == null)
{
    <RadzenProgressBarCircular Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
}
else
{
    <table style="padding-bottom:15px">
        <tr>
            <td class='cell firstCell'>
                <img src='images/home-welcome.svg' width=28 />
            </td>
            <td class='cell secondCell'>
                @cl["countJews"]
                <span class="tooltip">
                    <img src='/images/help-small.svg' class="icon-help" />
                    <span class="tooltiptext tooltiptext-top">@cl["help_victims"]</span>
                </span>
            </td>
            <td class='cell thirdCell'>
                @statistics.Victims
            </td>
        </tr>
        <tr>
            <td class='cell firstCell'>
                <img src='images/incident-welcome.svg' width=28 />
            </td>
            <td class='cell secondCell'>
                @cl["countIncidents"]
                <span class="tooltip">
                    <img src='/images/help-small.svg' class="icon-help" />
                    <span class="tooltiptext tooltiptext-top">@cl["help_incident"]</span>
                </span>
            </td>
            <td class='cell thirdCell'>
                @statistics.Incidents
            </td>
        </tr>
        <tr>
            <td class='cell firstCell'>
                <img src='images/interest-welcome.svg' width=28 />
            </td>
            <td class='cell secondCell'>
                @cl["countPointsOfInterest"]
                <span class="tooltip">
                    <img src='/images/help-small.svg' class="icon-help" />
                    <span class="tooltiptext tooltiptext-top">@cl["help_interest"]</span>
                </span>
            </td>
            <td class='cell thirdCell'>
                @statistics.Interests
            </td>
        </tr>
        <tr>
            <td class='cell firstCell'>
                <img src='images/inaccessible-welcome.svg' width=28 />
            </td>
            <td class='cell secondCell'>
                @cl["countInaccessiblePlaces"]
                <span class="tooltip">
                    <img src='/images/help-small.svg' class="icon-help" />
                    <span class="tooltiptext tooltiptext-top">@cl["help_inaccessible"]</span>
                </span>
            </td>
            <td class='cell thirdCell'>
                @statistics.Inaccessibles
            </td>
        </tr>
        <tr>
            <td class='cell firstCell'>
                <img src='images/memory-welcome.svg' width=28 />
            </td>
            <td class='cell secondCell'>
                @cl["countPlacesOfMemory"]
                @*                <span class="tooltip">
                    <img src='/images/help-small.svg' class="icon-help" />
                     <span class="tooltiptext tooltiptext-top">@cl["help_inaccessible"]</span>
            </span>*@
            </td>
            <td class='cell thirdCell'>
                @statistics.PlacesOfMemory
            </td>
        </tr>
    </table>
}

@code {

    WelcomeDialogStatistics? statistics;

    protected override async Task OnInitializedAsync()
    {
        statistics = await MapLogic.GetWelcomeDialogStatistics();
    }
}